<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Maymus</title>
        <!--CHANGE TO .MIN AFTER DEVELOPMENT-->
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <!--        FlatUI-->
        <link href="/maymus/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!--<link href="/maymus/resources/flat/css/flat-ui.css" rel="stylesheet"/>-->
        <link href="/maymus/resources/css/maymus.css" rel="stylesheet"/>
        <!-- FONT -->

        <link href="https://fonts.googleapis.com/css?family=Dosis|Montserrat|Nunito|Raleway" rel="stylesheet"/>


    </h:head>

    <h:body id="body">
        <f:view locale="#{sessionBean.language}" >
            <p:importConstants type="de.maymus.util.Constants" var="constants"/>

            <header>
                <ui:include src = "header.xhtml"/>
            </header>

            <div class="body-wrapper content" onmouseenter="calcHideNavbar();" >
                <b:container id="container-main" style="padding: 0px; width: 95% ">

                    <p:confirmDialog global="true" >
                        <b:column col-xs="5" style="padding: 0px">
                            <p:commandButton value="#{msg['btn.yes']}" type="button" styleClass="btn btn-maymus-primary ui-confirmdialog-yes" icon="fa fa-check" style="width: 100%"/>
                        </b:column>
                        <b:column col-xs="5" style="padding: 0px" offset-xs="2">
                            <p:commandButton value="#{msg['btn.no']}" type="button" styleClass="btn btn-maymus-primary ui-confirmdialog-no" icon="fa fa-close" style="width: 100%"/>
                        </b:column>
                    </p:confirmDialog>



                    <div id="search_bar" style="display: none">

                        <h:form>
                            <b:inputText placeholder="#{msg['navbar.search.placeholder']}" name="search_bar" class="searchbar" id="search_bar" value="#{sessionBean.search}"/>

                            <p:remoteCommand name="test" actionListener="#{statusBean.test}"/>
                            <p:inputText id="commentInput" rendered="#{status.haveComment}" 
                                         value="#{statusBean.newComment}"
                                         onkeypress="if (event.keyCode == 13) {
                                                     test();
                                                     return false;
                                                 }"/>


                        </h:form>
                    </div>

                    <h:form id="globalmessages" class="messages">
                        <b:growl id="testo" globalOnly="true" placementFrom="bottom"
                                 show-detail="true" show-summary="true" allowDismiss="true" 
                                 delay="15000" escape="true" animation-enter="animated bounceInDown" animation-exit="animated flipOutX"/>
                    </h:form>

                    <div class="loading" id="progress" style="display: none">Loading&#8230;</div>

                    <ui:insert name = "content" id="content_id" class="content">
                        <ui:include src = "/pages/maymus.xhtml" />
                    </ui:insert>
                    <ui:debug hotkey="x" rendered="true"/>

                </b:container>
            </div>

            <footer class="footer" style="margin-top: 30px;">
                <ui:include src = "footer.xhtml"/>
            </footer>
        </f:view>
    </h:body>

    <script src="/maymus/resources/js/maymus.js"></script>
    <script src="/maymus/resources/bootstrap/js/bootstrap.min.js"></script>
    <script src="/maymus/resources/bootstrap/js/npm.js"></script>
    <script src="/maymus/resources/flat/js/flat-ui.min.js"></script>
</html>