<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"

      xmlns:p="http://primefaces.org/ui">




    <b:column col-xs="12" style="text-align: left">
        <div class="workaround_all_items_one_line">
            <b:column col-xs="6" col-sm="3" class="footer-box">
                <h3> <h:outputText value="#{msg['footer.contact']}"/> </h3>
                <b:column>
                    <!--                    <b:iconAwesome name="twitter"  size="2x" style="margin: 5px" />
                                        <b:iconAwesome name="reddit" size="2x" style="margin: 5px"/>
                                        <b:iconAwesome name="whatsapp" size="2x" style="margin: 5px"/>
                                        <b:iconAwesome name="envelope" size="2x" style="margin: 5px"/>-->
                </b:column>
                <h:outputText value="#{msg['footer.contact.me']}:" style="display: block"/>
                <h:outputText value="contat.maymus@gmail.com" style="margin-top: 15px"/>
            </b:column>

            <b:column col-xs="6" col-sm="3" class="footer-box">
                <h3><h:outputLabel value="#{msg['footer.language']}"/></h3>
                <ul>
                    <h:form style="margin-top: 10px">
                        <li><h:commandButton action="#{sessionBean.changeLanguage('de')}" image="/resources/images/de.png" >
                                <h:outputText value="   #{msg['language.de']}"/>
                            </h:commandButton></li>
                        <li><h:commandButton action="#{sessionBean.changeLanguage('en')}" image="/resources/images/us.png" >
                                <h:outputText value="   #{msg['language.en']}"/>
                            </h:commandButton></li>
                    </h:form>
                </ul>
            </b:column>

            <b:column col-xs="6" col-sm="3" class="footer-box">
                <h3> <h:outputText value="#{msg['footer.usefull']}"/> </h3>
                <ul>
                    <li><b:navLink value="#{msg[constants.MSG_G_TOP]}" href="/maymus/pages/games/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" /></li>
                    <li><b:navLink value="#{msg[constants.MSG_M_TOP]}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.TOP_RATED}" /></li>
                    <li><b:navLink value="#{msg[constants.MSG_S_TOP]}" href="/maymus/pages/series/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" /></li>
                </ul>
            </b:column>

            <b:column col-xs="6" col-sm="3" class="footer-box">
                <h3><h:outputText value="#{msg['footer.law']}"/></h3>
                <li> <a href="#"> <h:outputText value="#{msg['footer.law.impressum']}"/> </a> </li>
                <li> <a href="#"> <h:outputText value="#{msg['footer.law.agb']}"/> </a> </li>
                <li> <a href="#"> <h:outputText value="#{msg['footer.law.protection']}"/> </a> </li>

            </b:column>


            <b:column col-xs="12" style="margin-top: 15px">
                <div class="footer-line hidden-xs" style="margin-bottom: 15px"/>


                <b:column >
                    <h:outputText value="#{msg['tmdb.notice']}" style="font-weight: 300; padding-left: 20px;font-style: italic"/>
                </b:column>
                <b:column >
                    <h:outputText value="#{msg['igdb.notice']}" style="font-weight: 300; padding-left: 20px;font-style: italic"/>
                </b:column>
                <b:column >
                    <h:outputText value="&#xA9; Kevin Brach, 2017" style="font-weight: 800; margin-top: 10px;"/>
                </b:column>


            </b:column>
        </div>
    </b:column>


</html>
