<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <b:navBar brand="#{msg['navbar.brand']}" brandHref="/maymus" class="navbar-maymus-xsl hidden-sm hidden-md hidden-lg" fixed="top" id="lll">

        <b:navbarLinks>
            <b:navLink>
                <b:button icon-awesome="search" value="Suche" onclick="toggle('search_bar'); $('.navbar-collapse').collapse('toggle');"
                          class="btn-maymus" style="width:  100%"/>
            </b:navLink>
            <b:navLink rendered="#{!sessionBean.loggedIn}">
                <b:button value="#{msg['navbar.button.signin']}" icon-awesome="sign-in" class="btn-maymus" outcome="/pages/login.xhtml" style="width: 100%"/>
            </b:navLink>

            <b:dropMenu rendered="#{sessionBean.loggedIn}" value="#{sessionBean.loggedUser.username}" style="overflow: hidden">
                <h:form>
                    <b:navbarLinks pull="right" rendered="#{sessionBean.isLoggedIn()}"  >
                        <b:navLink value="#{msg['user.change.password']}" href="/maymus/pages/pw_change.xhtml" style="left: 20px" />

                        <b:navCommandLink action="#{loginBean.logout()}" value="Logout" style="left: 20px"/>

                    </b:navbarLinks>
                </h:form>
            </b:dropMenu>

            <b:dropMenu value="#{msg['navbar.movie']}" >
                <b:navLink value="#{msg['movie.top']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.TOP_RATED}" />
                <b:navLink value="#{msg['movie.now']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.NOW_IN_CINEMA}" />
                <b:navLink value="#{msg['movie.upcomming']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.UPCOMMING}" />

                <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/movie/user_list.xhtml?list=#{constants.FAVORITE}" rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.movieFavorite.movies.size()}" style="margin-left: 5px"/>
                </b:navLink>
                <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/movie/user_list.xhtml?list=#{constants.WATCH}" rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.movieWatchlist.movies.size()}" style="margin-left: 5px"/>
                </b:navLink>

                <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/movie/custom_overview.xhtml" rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.movieCustomLists.size()}" style="margin-left: 5px"/>
                </b:navLink>
            </b:dropMenu>
            <b:dropMenu value="#{msg['navbar.tvshow']}">
                <b:navLink value="#{msg['series.top']}" href="/maymus/pages/series/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
                <b:navLink value="#{msg['series.now']}" href="/maymus/pages/series/list.xhtml?list=#{constants.NOW_IN_TV}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />

                <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/series/list.xhtml?list=#{constants.FAVORITE}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.series_favorite.series.size()}" style="margin-left: 5px"/>
                </b:navLink>
                <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/series/list.xhtml?list=#{constants.WATCH}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.series_watchlist.series.size()}" style="margin-left: 5px"/>
                </b:navLink>
                <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/series/custom.xhtml"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.series_customLists.size()}" style="margin-left: 5px"/>
                </b:navLink>
            </b:dropMenu>
            <b:dropMenu value="#{msg['navbar.games']}">
                <b:navLink value="#{msg['game.top']}" href="/maymus/pages/games/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
                <b:navLink value="#{msg['game.now']}" href="/maymus/pages/games/list.xhtml?list=#{constants.NEW_RELEASED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
                <b:navLink value="#{msg['game.upcomming']}" href="/maymus/pages/games/list.xhtml?list=#{constants.UPCOMMING}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />


                <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/games/list.xhtml?list=#{constants.FAVORITE}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.games_favorite.games.size()}" style="margin-left: 5px"/>
                </b:navLink>
                <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/games/list.xhtml?list=#{constants.WATCH}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.games_watchlist.games.size()}" style="margin-left: 5px"/>
                </b:navLink>
                <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/games/custom.xhtml"  rendered="#{sessionBean.loggedIn}">
                    <b:badge value="#{sessionBean.loggedUser.games_customLists.size()}" style="margin-left: 5px"/>
                </b:navLink>

            </b:dropMenu>
        </b:navbarLinks>
    </b:navBar>

    <b:navBar brand="#{msg['navbar.brand']}" brandHref="/maymus" class="navbar-maymus hidden-xs" fixed="top" id="header" >

        <!-- SM, MD, LG NAVBAR-->
        <div class="hidden-xs" >
            <!-- MENU -->
            <b:navbarLinks >
                <b:navLink id="nav_movie" value="#{msg['navbar.movie']}" href="#/" onmouseover="$('.dropdown.open .dropdown-toggle').dropdown('toggle'); openSubheader('nav_movie', 'movie_subnav')" />
                <b:navLink id="nav_tv" value="#{msg['navbar.tvshow']}" href="#/" onmouseover="$('.dropdown.open .dropdown-toggle').dropdown('toggle'); openSubheader('nav_tv', 'tv_subnav')" />
                <b:navLink id="nav_game" value="#{msg['navbar.games']}" href="#/" onmouseover="$('.dropdown.open .dropdown-toggle').dropdown('toggle'); openSubheader('nav_game', 'games_subnav')" />
            </b:navbarLinks>

            <!-- LOGGED-->
            <h:form>

                <b:navbarLinks pull="right" rendered="#{sessionBean.isLoggedIn()}" class="hidden-xs" >
                    <b:dropMenu  value="#{sessionBean.loggedUser.shortUsername()}"  iconSize="lg" hidden="xs,md,lg" style="width: max-content">
                        <b:navbarLinks> 
                            <b:navLink value="#{msg['user.change.password']}" href="/maymus/pages/pw_change.xhtml" />
                            <b:navCommandLink action="#{loginBean.logout()}" value="Logout" style="width: 100%;"/>
                        </b:navbarLinks>

                    </b:dropMenu>
                    <b:dropMenu  value="#{sessionBean.loggedUser.username}" iconAwesome="user-circle"  iconSize="lg" hidden="xs,sm" style="width: max-content">
                        <b:navbarLinks>
                            <b:navLink value="#{msg['user.change.password']}" href="/maymus/pages/pw_change.xhtml" />
                            <b:navCommandLink action="#{loginBean.logout()}" value="Logout" style="width: 100%;"/>
                        </b:navbarLinks>
                    </b:dropMenu>
                </b:navbarLinks>               
            </h:form>


            <!-- LOGIN -->
            <b:navbarLinks pull="right" rendered="#{!sessionBean.isLoggedIn()}" class="login-header">
                <!-- LG&MD-->
                <h:form class="btn-group hidden-xs hidden-sm" role="login" >
                    <b:button value="#{msg['navbar.button.signin']}"  styleClass="btn-maymus" outcome="/pages/login.xhtml"/>
                    <b:button value="#{msg['navbar.button.signup']}" outcome="/pages/signup.xhtml" styleClass="btn-maymus"/>
                </h:form>

                <!-- SM-->
                <h:form class="hidden-xs hidden-md hidden-lg" role="login" >
                    <b:button icon-awesome="sign-in" outcome="/pages/login.xhtml" styleClass="btn-maymus"/>
                </h:form>
            </b:navbarLinks>

            <!-- SEARCH-->
            <b:navbarLinks pull="right" class="hidden-xs search-header">
                <!-- SM & MD-->
                <b:icon name="search" onclick="toggle('search_bar')"  class="searchbar-icon" hidden="lg" size="lg"/>
                <!-- LG -->

                <h:form class="hidden-md hidden-sm hidden-xs">

                    <!--//"window.location.href = '/maymus/pages/search.xhtml?key=';"-->

                    <b:inputText id="keyword" value="#{sessionBean.search}" style="width:100%;" class="searchbar-in" placeholder="#{msg['navbar.search.placeholder']}"
                                 onkeypress="if (event.keyCode === 13) {
                                             onchange();
                                             toggle('progress');
                                             return false;
                                         }">
                        <f:ajax event="change" listener="#{sessionBean.invokeSearch()}" />
                    </b:inputText>
                </h:form>
            </b:navbarLinks>
        </div>
    </b:navBar>

    <b:navBar class="hidden-xs navbar-maymus-sub" id="movie_subnav" fixed="top">
        <b:navbarLinks>              
            <b:navLink value="#{msg['movie.top']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.TOP_RATED}" />
            <b:navLink value="#{msg['movie.now']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.NOW_IN_CINEMA}" />
            <b:navLink value="#{msg['movie.upcomming']}" href="/maymus/pages/movie/tmdb_list.xhtml?list=#{constants.UPCOMMING}" />

            <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/movie/user_list.xhtml?list=#{constants.FAVORITE}" rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.movieFavorite.movies.size()}" style="margin-left: 5px"/>
            </b:navLink>
            <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/movie/user_list.xhtml?list=#{constants.WATCH}" rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.movieWatchlist.movies.size()}" style="margin-left: 5px"/>
            </b:navLink>

            <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/movie/custom_overview.xhtml" rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.movieCustomLists.size()}" style="margin-left: 5px"/>
            </b:navLink>
        </b:navbarLinks>
    </b:navBar>

    <b:navBar class="hidden-xs navbar-maymus-sub"  id="tv_subnav" fixed="top">
        <b:navbarLinks>
            <b:navLink value="#{msg['series.top']}" href="/maymus/pages/series/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
            <b:navLink value="#{msg['series.now']}" href="/maymus/pages/series/list.xhtml?list=#{constants.NOW_IN_TV}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />

            <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/series/list.xhtml?list=#{constants.FAVORITE}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.series_favorite.series.size()}" style="margin-left: 5px"/>
            </b:navLink>
            <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/series/list.xhtml?list=#{constants.WATCH}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.series_watchlist.series.size()}" style="margin-left: 5px"/>
            </b:navLink>
            <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/series/custom.xhtml"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.series_customLists.size()}" style="margin-left: 5px"/>
            </b:navLink>
        </b:navbarLinks>
    </b:navBar>

    <b:navBar class="hidden-xs navbar-maymus-sub"  id="games_subnav" fixed="top">
        <b:navbarLinks>
            <b:navLink value="#{msg['game.top']}" href="/maymus/pages/games/list.xhtml?list=#{constants.TOP_RATED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
            <b:navLink value="#{msg['game.now']}" href="/maymus/pages/games/list.xhtml?list=#{constants.NEW_RELEASED}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />
            <b:navLink value="#{msg['game.upcomming']}" href="/maymus/pages/games/list.xhtml?list=#{constants.UPCOMMING}&amp;type=#{constants.LIST_TYPE_MAYMUS}" />


            <b:navLink value="#{msg[constants.MSG_FAVORITE]}" href="/maymus/pages/games/list.xhtml?list=#{constants.FAVORITE}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.games_favorite.games.size()}" style="margin-left: 5px"/>
            </b:navLink>
            <b:navLink value="#{msg[constants.MSG_WATCHLIST]}" href="/maymus/pages/games/list.xhtml?list=#{constants.WATCH}&amp;type=#{constants.LIST_TYPE_USER}"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.games_watchlist.games.size()}" style="margin-left: 5px"/>
            </b:navLink>
            <b:navLink value="#{msg[constants.MSG_OWN]}" href="/maymus/pages/games/custom.xhtml"  rendered="#{sessionBean.loggedIn}">
                <b:badge value="#{sessionBean.loggedUser.games_customLists.size()}" style="margin-left: 5px"/>
            </b:navLink>

        </b:navbarLinks>
    </b:navBar>
    <b:navBar class="hidden-xs navbar-maymus-sub" id="musik_subnav" fixed="top">
        <b:navbarLinks>
            <b:navLink value="Musik" href="#"/>
            <b:navLink value="Musik" href="#"/>
            <b:navLink value="Musik" href="#"/>
            <b:navLink value="Musik" href="#"/>

        </b:navbarLinks>
    </b:navBar>
    <!--<div id="header_seperate" style=" height: 20px; background-color: red" onmouseenter="" />-->

</html>
