<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <composite:interface>
            <composite:attribute name="picture" required="false" default="/resources/images/dummy.png"/>
            <composite:attribute name="picture_lg" required="false" default="/resources/images/dummy.png"/>
            <composite:attribute name="tooltip" required="false" default="xxx"/>
            <composite:attribute name="title" required="true"/>
            <composite:attribute name="o_id" required="true"/>
            <composite:attribute name="story" required="true" />
            <composite:attribute name="rating" required="true" default="Rating: --"/>
            <composite:attribute name="date" required="true" default="Datum: --"/>
            <composite:attribute name="link" required="true"/>
            <composite:attribute name="removeSeries" required="false" default="false"/>
            <composite:attribute name="removeMovie" required="false" default="false"/>
            <composite:attribute name="removeGames" required="false" default="false"/>

        </composite:interface>

        <composite:implementation>
            <b:column col-xs="6" col-sm="4" col-md="3" col-lg="2"  style="padding-left: 10px; padding-right: 10px; margin-bottom: 25px; text-align:  -webkit-center">
                <h:link  outcome="#{cc.attrs.link}" onclick="toggle('progress')">
                    <f:param name="id" value="#{cc.attrs.o_id}"/>

                    <div class="thumbnail thumb">

                        <p:graphicImage value="#{cc.attrs.picture}" class="img-responsive hidden-lg" style="background-image: #{msg['picture.dummy']}" onclick="toggle('progress')"/>
                        <p:graphicImage value="#{cc.attrs.picture_lg}"  class="img-responsive hidden-xs hidden-sm hidden-md"  style="background-image: #{msg['picture.dummy']}" onclick="toggle('progress')"/>

                        <div class="rating">
                            <h:outputText value=" #{cc.attrs.rating}" class="fa fa-star"/>
                        </div>

                        <div class="hover-opaque">
                            <span class="caption thumb_hover" aria-hidden="true">
                                <h:outputText value="#{cc.attrs.title}" class="title"/>
                                <h:outputText value="#{cc.attrs.date}" class="subtitle"/>
                            </span>
                        </div>

                        <p:commandLink action="#{seriesListBean.removeFromList(cc.attrs.o_id)}" update="@all" rendered="#{cc.attrs.removeSeries}">
                            <b:iconAwesome name="times" size="1x" class="close-icon "/>
                        </p:commandLink>
                        <p:commandLink action="#{movieListBean.removeFromList(cc.attrs.o_id)}" update="@all" rendered="#{cc.attrs.removeMovie}">
                            <b:iconAwesome name="times" size="1x" class="close-icon "/>
                        </p:commandLink>
                        <p:commandLink action="#{gameListBean.removeFromList(cc.attrs.o_id)}" update="@all" rendered="#{cc.attrs.removeGames}">
                            <b:iconAwesome name="times" size="1x" class="close-icon "/>
                        </p:commandLink>

                    </div>
                </h:link>
            </b:column>
        </composite:implementation>

    </h:body>
</html>