<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <composite:interface>
            <composite:attribute name="picture" required="false" default="/resources/dummy.jpg"/>
            <composite:attribute name="tooltip" required="false"/>
            <composite:attribute name="title" required="true"/>
            <composite:attribute name="mov_id" required="false" default=""/>
            <composite:attribute name="subtitle" required="true" default=""/>
            <composite:attribute name="redirect" required="true" default="false"/>
            <composite:attribute name="outcome" required="false" default="/pages/movie/movie.xhtml"/>
        </composite:interface>

        <composite:implementation>
            <h:form rendered="#{cc.attrs.redirect}">
                <div class="thumbnail shadow-link">
                    <h:link  outcome="#{cc.attrs.outcome}" onclick="toggle('progress')" >
                        <f:param name="id" value="#{cc.attrs.mov_id}"/>
                        <p:cache key="#{cc.attrs.picture}"> 
                            <p:graphicImage value="#{cc.attrs.picture}"  class="img-responsive"/>
                        </p:cache>
                        <div class="caption">
                            <h:outputText styleClass="title" value="#{cc.attrs.title}"/>
                            <h:outputText styleClass="subtitle" value="#{cc.attrs.subtitle}"/>
                        </div>
                    </h:link>
                </div>

            </h:form>

            <h:form rendered="#{!cc.attrs.redirect}">
                <div class="thumbnail">
                    <p:cache key="#{cc.attrs.picture}">
                        <p:graphicImage value="#{cc.attrs.picture}"/>
                    </p:cache>
                    <div class="caption">
                        <h:outputText styleClass="title " value="#{cc.attrs.title}"/>
                        <h:outputText styleClass="subtitle " value="#{cc.attrs.subtitle}"/>
                    </div>
                </div>

            </h:form>
        </composite:implementation>
    </h:body>
</html>