<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <composite:interface>
            <composite:attribute name="title" required="true"/>
            <composite:attribute name="type" required="true"/>
            <composite:attribute name="bean" type="java.lang.Object" />




        </composite:interface>

        <composite:implementation>
            <h:form id="fos" style="text-align: left" >
                <b:panelGrid col-spans="12">
                    <b:column rendered="#{sessionBean.loggedIn}" style="padding: 0px; margin: 0px">
                        <p:commandButton  update="@form globalmessages" rendered="#{!cc.attrs.bean.onFavoritelist()}" actionListener="#{cc.attrs.bean.addToFavoriteList()}" class="btn-maymus-primary Dcard-ButtonList" value="#{msg['list.favorite']}" icon="fa fa-square-o"  onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                        <p:commandButton update="@form globalmessages" rendered="#{cc.attrs.bean.onFavoritelist()}" actionListener="#{cc.attrs.bean.removeFromFavoriteList()}" class="btn-maymus-inactive Dcard-ButtonList" value="#{msg['list.favorite']}" icon="fa fa-check-square" onclick="toggle('progress')" onsuccess="toggle('progress')"/>

                        <p:commandButton update="@form globalmessages" rendered="#{!cc.attrs.bean.onWatchlist()}" actionListener="#{cc.attrs.bean.addToWatchList()}" class="btn-maymus-primary Dcard-ButtonList" value="#{msg['list.watchlist']}" icon="fa fa-square-o" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                        <p:commandButton update="@form globalmessages" rendered="#{cc.attrs.bean.onWatchlist()}" actionListener="#{cc.attrs.bean.removeFromWatchList()}" class="btn-maymus-inactive Dcard-ButtonList" value="#{msg['list.watchlist']}" icon="fa fa-check-square" onclick="toggle('progress')" onsuccess="toggle('progress')"/>

                        <p:repeat value="#{sessionBean.loggedUser.movieCustomLists}" var="abc" rendered="#{cc.attrs.type == 'movie'}">
                            <p:commandButton update="@form globalmessages"
                                             rendered="#{!cc.attrs.bean.onCustomlist(abc)}"
                                             actionListener="#{cc.attrs.bean.addToCustomlist(abc.name)}"
                                             class="btn-maymus-primary Dcard-ButtonList" value="#{abc.name}" icon="fa fa-square-o" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                            <p:commandButton update="@form globalmessages" rendered="#{cc.attrs.bean.onCustomlist(abc)}" actionListener="#{cc.attrs.bean.removeFromCustomlist(abc.name)}" class="btn-maymus-inactive Dcard-ButtonList" value="#{abc.name}" icon="fa fa-check-square" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                        </p:repeat>

                        <p:repeat value="#{sessionBean.loggedUser.series_customLists}" var="abc" rendered="#{cc.attrs.type == 'series'}">
                            <p:commandButton update="@form globalmessages"
                                             rendered="#{!cc.attrs.bean.onCustomlist(abc)}"
                                             actionListener="#{cc.attrs.bean.addToCustomlist(abc.name)}"
                                             class="btn-maymus-primary Dcard-ButtonList" value="#{abc.name}" icon="fa fa-square-o" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                            <p:commandButton update="@form globalmessages" rendered="#{cc.attrs.bean.onCustomlist(abc)}" actionListener="#{cc.attrs.bean.removeFromCustomlist(abc.name)}" class="btn-maymus-inactive Dcard-ButtonList" value="#{abc.name}" icon="fa fa-check-square" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                        </p:repeat>

                        <p:repeat value="#{sessionBean.loggedUser.games_customLists}" var="abc" rendered="#{cc.attrs.type == 'games'}">
                            <p:commandButton update="@form globalmessages"
                                             rendered="#{!cc.attrs.bean.onCustomlist(abc)}"
                                             actionListener="#{cc.attrs.bean.addToCustomlist(abc.name)}"
                                             class="btn-maymus-primary Dcard-ButtonList" value="#{abc.name}" icon="fa fa-square-o" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                            <p:commandButton update="@form globalmessages" rendered="#{cc.attrs.bean.onCustomlist(abc)}" actionListener="#{cc.attrs.bean.removeFromCustomlist(abc.name)}" class="btn-maymus-inactive Dcard-ButtonList" value="#{abc.name}" icon="fa fa-check-square" onclick="toggle('progress')" onsuccess="toggle('progress')"/>
                        </p:repeat>

                        <p:commandButton update="@form globalmessages" onclick="PF('dlg1').show();" icon="fa fa-plus" value="#{msg['customList.add.button']}" class="btn-maymus-primary Dcard-ButtonList"/>
                    </b:column>
                    <b:column rendered="#{!sessionBean.loggedIn}" style="padding: 0px; margin: 0px">
                        <b:label   value="#{msg['user.lists.login.message']}" class="login-hint" style="margin-bottom: 5px; border-radius: 0px; display: block; font-size: 1.2em; white-space: initial"/>
                        <p:button class="btn-maymus-primary Dcard-ButtonList" disabled="true" value="#{msg['list.favorite']}" icon="fa fa-square-o"/>
                        <p:button class="btn-maymus-primary Dcard-ButtonList" disabled="true" value="#{msg['list.watchlist']}" icon="fa fa-square-o"/>
                        <p:button  icon="fa fa-plus" disabled="true" value="#{msg['customList.add.button']}" class="btn-maymus-primary Dcard-ButtonList"/>

                    </b:column>

                </b:panelGrid>
            </h:form>

            <p:dialog header="#{cc.attrs.title}" id="d_dialog" widgetVar="dlg1" style="border-radius: 0px" responsive="true" modal="true" rendered="#{sessionBean.loggedIn}">


                <h:form id="d_form" >
                    <b:panel collapsible="false" class="customList" col-xs="12" >
                        <b:column col-xs="10" offset-xs="1">
                            <h:outputText value="#{msg['customList.add.input.name']}" class="customList-title"/>
                            <b:inputText id="input_name" value="#{cc.attrs.bean.customListName}">
                                <f:validator validatorId="createListValidation" />
                                <f:attribute name="loggedUser" value="#{sessionBean.loggedUser}"/>
                                <f:attribute name="type" value="#{cc.attrs.type}"/>

                            </b:inputText>
                            <b:message id="input_msg" for="@previous" showIcon="false" showDetail="true" style="text-align: left"/>

                            <h:outputText value="#{msg['customList.add.input.description']}" class="customList-title"/>
                            <b:inputTextarea value="#{cc.attrs.bean.customListDesc}" />
                            <b:message for="create_list" showIcon="false" showDetail="true" style="text-align: left"/>

                            <b:column col-xs="5" style="text-align: left">
                                <h:outputText value="#{msg['customList.share.label']}" style="font-weight: bold"/>


                            </b:column>
                            <b:column col-xs="7" style="text-align: right">
                                <p:selectBooleanCheckbox value="#{cc.attrs.bean.customListPublicity}" />
                            </b:column>
                            <h:outputText value="#{msg['customList.share.info']}" style="font-size: 13px; font-style: italic"/>


                            <p:commandButton update="#{cc.attrs.id}:fos @form globalmessages" id="create_list" value="#{msg['customList.add.button']}" style="width: 100%; margin-top: 15px"
                                             class="btn-maymus-primary" action="#{cc.attrs.bean.createNewCustomList}"
                                             oncomplete="if (!args.validationFailed) PF('dlg1').hide()"/>
                        </b:column>
                    </b:panel>
                </h:form>
            </p:dialog>

        </composite:implementation>

    </h:body>
</html>