<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <composite:interface>
            <composite:attribute name="bean" type="java.lang.Object" />



        </composite:interface>

        <composite:implementation>

            <p:dialog header="#{msg['dialog.customList.header']}" id="editList" responsive="true" widgetVar="editList" resizable="false" rendered="#{sessionBean.loggedIn}" modal="true" draggable="true">

                <h:form id="d_form" style="width: 100%">
                    <p:defaultCommand target="edit_list"/>
                    <b:panel collapsible="false" class="customList" col-xs="12" style="font-size: 18px;" >
                        <b:message id="input_msg" for="input_name" showIcon="false" showDetail="true" style="text-align: left;margin-bottom: 15px !important"/>

                        <b:column col-xs="12" col-md="5">
                            <h:outputLabel value="#{msg['customList.add.input.name']}"/>
                        </b:column>
                        <b:column col-xs="12" col-md="7">
                            <b:inputText value="#{cc.attrs.bean.editName}" id="input_name">
                                <f:validator validatorId="editListValidator" />
                                <f:attribute name="oldName" value="#{cc.attrs.bean.listname}"/>
                                <f:attribute name="loggedUser" value="#{sessionBean.loggedUser}"/>
                            </b:inputText>


                        </b:column>
                        <b:column col-xs="12" col-md="5" >
                            <h:outputLabel value="#{msg['customList.add.input.description']}"/>
                        </b:column>
                        <b:column col-xs="12" col-md="7">
                            <b:inputTextarea value="#{cc.attrs.bean.editDesc}"/>
                        </b:column>
                        <b:column col-xs="12" col-md="5" >
                            <h:outputLabel value="#{msg['customList.share.label']}"/>
                        </b:column>
                        <b:column col-xs="12" col-md="7">
                            <p:selectBooleanCheckbox value="#{cc.attrs.bean.editPublicity}"/>
                        </b:column>
                        <b:column col-xs="12">
                            <b:column col-xs="12" col-md="4" style="margin: 0px; padding: 5px">
                                <b:commandButton update="d_form globalmessages" id="cancle_list" value="#{msg['dialog.customList.btn.cancle']}" style="width: 100%; bottom: 0px"
                                                 class="btn-maymus-primary" onclick="PF('editList').hide()" process="@this" immediate="true"/>
                            </b:column>
                            <b:column col-xs="12" col-md="4"  style="margin: 0px; padding: 5px">
                                <p:commandButton update="d_form globalmessages" value="#{msg['dialog.customList.btn.remove']}" action="#{cc.attrs.bean.removeList()}" class="btn btn-maymus-primary" style="width: 100%; bottom: 0px" process="@this">
                                    <p:confirm header="#{msg['dialog.confirm.header.delete']}" message="#{msg['dialog.confirm.msg.delete']}" icon="ui-icon-alert"/>
                                </p:commandButton>

                            </b:column>
                            <b:column col-xs="12" col-md="4"  style="margin: 0px; padding: 5px">
                                <b:commandButton update="d_form globalmessages" id="edit_list" value="#{msg['dialog.customList.btn.edit']}" style="width: 100%; bottom: 0px"
                                                 class="btn-maymus-primary" action="#{cc.attrs.bean.editList()}" onclick="toggle('progress')"
                                                 oncomplete="if (!args.validationFailed) PF('editList').hide()">
                                </b:commandButton>
                            </b:column>

                        </b:column>
                    </b:panel>
                </h:form>
            </p:dialog>



        </composite:implementation>

    </h:body>
</html>