<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui">
    <h:body>
        <composite:interface>
            <composite:attribute name="text" required="true" default=""/>
        </composite:interface>

        <composite:implementation>

            <b:socialShare shares="twitter,facebook,email,googleplus"
                           show-label="false" show-count="false"
                           text="#{cc.attrs.text}"
                           block-message="#{msg['share.block.text']}"

                           />

        </composite:implementation>
    </h:body>
</html>