<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewAction action="#{sessionBean.isLoggedInForwardHome()}" />
    </f:metadata>

    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">

                <b:column class="panel-login" col-xs="12" col-sm="8" col-md="6" offset-sm="2" offset-md="3" style="margin-top: 25px">
                    <b:column col-xs="12" col-sm="10" offset-sm="1" style="padding: 20px">
                        <h:form prependId="false" >

                            <div style="margin: 0px 20px 20px 20px">
                                <h:outputText value="#{msg['navbar.button.signin']}" styleClass="login-title"/>
                            </div>
                            <b:inputText  placeholder="#{msg['login.mail.placeholder']}" value="#{loginBean.email}" required="true" id="input_mail" requiredMessage="#{msg['login.mail.empty']}">
                                <f:validator  validatorId="mailLoginValidation"/>
                                <f:facet name="prepend">
                                    <b:icon name="user" />
                                </f:facet>
                            </b:inputText>


                            <b:inputText placeholder="#{msg['login.password.placeholder']}" type="password" value="#{loginBean.password}" required="true" id="input_password" validatorMessage="#{msg['login.password.empty']}" requiredMessage="#{msg['login.password.empty']}" >
                                <f:validateLength minimum="6"/>
                                <f:facet name="prepend">
                                    <b:iconAwesome name="key" />
                                </f:facet>
                            </b:inputText>

                            <b:message for="input_mail" showIcon="false" showDetail="true" style="text-align: left"/>
                            <b:message for="input_password" showIcon="false" showDetail="true" style="text-align: left"/>

                            <b:message for="login_button" showIcon="false" showDetail="true" style="text-align: left"/>

                            <p:commandLink value="#{msg['login.password.forgot']}" onclick="PF('reset').show();" style="text-align: end; display: block" styleClass="login-forget"/>

                            <div style="text-align: center; display: block" >
                                <h:outputText value="#{msg['login.forward.register']}" styleClass="login-forget"/>
                                <b:navLink value="#{msg['login.forward.register.button']}" style="font-weight: bolder;margin-left: 15px" outcome="signup"/>
                            </div>


                            <b:commandButton value="#{msg['navbar.button.signin']}" icon-awesome="sign-in" size="lg" action="#{loginBean.login()}" id="login_button" styleClass="btn-maymus-primary" style="width: 100%;margin-top: 15px"/>

                        </h:form>
                    </b:column>
                </b:column>



                <p:dialog header="#{msg['user.password.forgot']}" widgetVar="reset" responsive="true" modal="true">
                    <h:form id="d_form" style="width: 100%">
                        <b:column col-xs="12" >
                            <p:outputLabel value="#{msg['user.password.request.email']}"/>
                            <b:inputText value="#{loginBean.email}" placeholder="E-Mail" />
                            <b:message for="@previous"/>

                            <b:commandButton update="d_form globalmessages" id="edit_list" value="#{msg['dialog.customList.btn.edit']}" style="width: 100%; bottom: 0px; "
                                             class="btn-maymus-primary" action="#{loginBean.requestNewPassword()}" onclick="toggle('progress')"
                                             oncomplete="if (!args.validationFailed) PF('reset').hide()">
                            </b:commandButton>
                        </b:column>
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
