<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body >
        <ui:composition >

            <b:alert rendered="#{!sessionBean.loggedIn}" severity="info" closable="true">
                <h:outputText style="font-size: 1.2em; font-weight: 600;" value="Willkommen auf Maymus."/>
                <h:outputText style="font-size: 1.2em; font-weight: normal;margin-left: 10px" value="Melde dich an und erstelle eigene Listen!"/>
            </b:alert>

            <h:outputText value="#{msg['series.list.tmdb.top']}:" style="font-size: 1.2em; font-weight: 600; text-decoration: underline"/>
            <div class="workaround_all_items_one_line" style="margin-top: 10px">
                <ui:repeat value="#{welcomeBean.series}" var="serie">
                    <ti:card_large  picture="#{welcomeBean.posterImageMD(serie.poster)}" picture_lg="#{welcomeBean.posterImageMD(serie.poster)}" 
                                    date="#{serie.releaseDate}" link="/pages/series/series.xhtml" o_id="#{serie.series_id}" rating="#{serie.rating}"
                                    story="" title="#{serie.name}"  />
                </ui:repeat>
            </div>

            <h:outputText value="#{msg['movie.list.tmdb.top']}:" style="font-size: 1.2em; font-weight: 600; text-decoration: underline"/>
            <div class="workaround_all_items_one_line" style="margin-top: 10px">
                <ui:repeat value="#{welcomeBean.movies}" var="movie">
                    <ti:card_large picture="#{welcomeBean.posterImageMD(movie.poster)}" picture_lg="#{welcomeBean.posterImageMD(movie.poster)}" 
                                   date="#{movie.releaseDate}" link="/pages/movie/movie.xhtml" o_id="#{movie.movie_id}" rating="#{movie.rating}"
                                   story="" title="#{movie.name}"  />
                </ui:repeat>
            </div>

            <h:outputText value="#{msg['game.list.tmdb.top']}:" style="font-size: 1.2em; font-weight: 600; text-decoration: underline"/>
            <div class="workaround_all_items_one_line" style="margin-top: 10px">
                <ui:repeat value="#{welcomeBean.games}" var="game">
                    <ti:card_large picture="#{welcomeBean.posterGameLG(game.poster)}" picture_lg="#{welcomeBean.posterGameLG(game.poster)}" 
                                   date="#{game.releaseDate}" link="/pages/games/games.xhtml" o_id="#{game.game_id}" rating="#{game.rating}"
                                   story="" title="#{game.name}"  />
                </ui:repeat>
            </div>





        </ui:composition>
    </body>
</html>	