<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">

                <b:column class="panel-login" col-xs="10" col-sm="8" col-md="6" offset-xs="1" offset-sm="2" offset-md="3" style="margin-top: 25px">
                    <b:column col-xs="12" col-sm="10" offset-sm="1" style="padding: 20px">
                        <h:form prependId="false" >

                            <div style="margin: 0px 20px 20px 20px">
                                <h:outputText value="#{msg['user.change.password']}" styleClass="login-title"/>
                            </div>


                            <h:outputLabel for="@next" value="#{msg['user.change.password.old']}"/>
                            <b:inputSecret type="password" value="#{loginBean.password}" required="true" id="input_current" validatorMessage="#{msg['login.password.empty']}" requiredMessage="#{msg['login.password.empty']}" >
                                <f:validateLength minimum="6"/>
                                <f:facet name="prepend">
                                    <b:iconAwesome name="key" />
                                </f:facet>
                            </b:inputSecret>
                            <b:message for="input_current" showIcon="false" showDetail="true" style="text-align: left"/>


                            <h:outputLabel for="@next" value="#{msg['user.change.password.new']}"/>
                            <b:inputText  id="input_new" style="margin-bottom: 0px" type="password" value="#{loginBean.password_change}" required="true" required-message="#{msg['login.register.password.length']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="key" />
                                </f:facet>
                                <f:validator validatorId="passwordSignUpValidation"/>
                            </b:inputText>
                            <b:message for="input_new" showIcon="false" showDetail="true" style="text-align: left"/>
                            <b:label value="#{msg['login.register.password.requirement']}" styleClass="login-hint">
                                <f:param value="TEST"/>
                            </b:label>



                            <b:message for="change_button" showIcon="false" showDetail="true" style="text-align: left;"/>

                            <b:commandButton value="#{msg['dialog.customList.btn.edit']}" icon-awesome="sign-in" size="lg" action="#{loginBean.changePassword()}" id="change_button" styleClass="btn-maymus-primary" style="width: 100%;margin-top: 30px"/>

                        </h:form>
                    </b:column>
                </b:column>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
