<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:viewAction action="#{searchBean.invokeSearch()}"/>
    </f:metadata>

    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="12" col-md="5" style="text-align: left; ">
                        <h:outputText styleClass="list_info_header" value="Suchergebnisse zu: #{searchBean.key}" />
                    </b:column>
                </b:column>

                <b:column col-xs="12" class="list_body" style="margin-top: 15px">

                    <b:panel col-xs="12" styleClass="Dcard-Container"  >

                        <b:column style="padding: 0px; margin: 0px">
                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{searchBean.movies}" var="movie" class="overview-carousel" style="width: 100%" itemStyle="text-align:center" responsive="true" numVisible="5" >
                                    <f:facet name="header">
                                        <h:outputText value="Filme:" styleClass="Dcard-Header" style="display: initial"/>
                                        <b:badge value="#{searchBean.movies.size()}" style="margin-left: 5px" class="Dcard-Fact-Badge"/>
                                    </f:facet>
                                    <ti:card_small title="#{movie.name}" picture="#{searchBean.posterImageMD(movie.poster)}" mov_id="#{movie.movie_id}"
                                                   redirect="true" outcome="/pages/movie/movie.xhtml" subtitle="#{searchBean.converteTimeToDE(movie.releaseDate)}"/>
                                </p:carousel>
                            </div>

                            <div class="Dcard-Seperator"/>
                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{searchBean.series}" var="serie" class="overview-carousel" itemStyle="text-align:center" responsive="true" numVisible="5" >
                                    <f:facet name="header">
                                        <h:outputText value="Serien:" styleClass="Dcard-Header" style="display: initial"/>
                                        <b:badge value="#{searchBean.series.size()}" style="margin-left: 5px" class="Dcard-Fact-Badge"/>
                                    </f:facet>
                                    <ti:card_small title="#{serie.name}" picture="#{searchBean.posterImageMD(serie.poster)}" mov_id="#{serie.series_id}"
                                                   redirect="true" outcome="/pages/series/series.xhtml" subtitle="#{searchBean.converteTimeToDE(serie.releaseDate)}"/>
                                </p:carousel>
                            </div>
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{searchBean.games}" var="sim" class="overview-carousel" itemStyle="text-align:center" responsive="true" numVisible="5">
                                    <f:facet name="header">
                                        <h:outputText value="Videopsiele: " styleClass="Dcard-Header" style="display: initial"/>
                                        <b:badge value="#{searchBean.games.size()}" style="margin-left: 5px" class="Dcard-Fact-Badge"/>
                                    </f:facet>
                                    <ti:card_small picture="#{searchBean.posterGameSM(sim.poster)}"
                                                   subtitle="#{searchBean.convertUsGameToDe(sim.releaseDate)}" title="#{sim.name}"
                                                   redirect="true" outcome="/pages/games/games.xhtml" mov_id="#{sim.game_id}"/>
                                </p:carousel>
                            </div>

                        </b:column>
                    </b:panel>
                </b:column>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
