<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:metadata>
        <f:viewAction action="#{sessionBean.isLoggedInForwardHome()}" />
    </f:metadata>
    <h:body>

        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">

                <b:column class="panel-login" col-xs="12" col-sm="8" col-md="6" offset-sm="2" offset-md="3" style="margin-top: 25px">
                    <b:column col-xs="12" col-sm="10" offset-sm="1" style="padding: 20px">
                        <h:form prependId="false" >
                            <h:outputText value="#{msg['navbar.button.signup']}" styleClass="login-title"/>
                            <b:inputText id="input_user" placeholder="#{msg['user.username.placeholder']}" value="#{loginBean.username}" required="true" required-message="#{msg['login.register.username.empty']}">
                                <f:facet name="prepend">
                                    <b:icon name="user" />
                                </f:facet>
                                <f:validator validatorId="usernameSignUpValidation"/>
                            </b:inputText>
                            <b:inputText id="input_mail" placeholder="#{msg['login.mail.placeholder']}" value="#{loginBean.email}" required="true" required-message="#{msg['login.register.mail.empty']}">
                                <f:facet name="prepend">
                                    <b:iconAwesome name="envelope-open" />
                                </f:facet>
                                <f:validator  validatorId="mailSignUpValidation"/>
                            </b:inputText>

                            <div style="text-align: left; margin-bottom: 30px;">
                                <b:inputText  id="input_password" style="margin-bottom: 0px" placeholder="#{msg['login.password.placeholder']}" type="password" value="#{loginBean.password}" required="true" required-message="#{msg['login.register.password.length']}">
                                    <f:facet name="prepend">
                                        <b:iconAwesome name="key" />
                                    </f:facet>
                                    <f:validator validatorId="passwordSignUpValidation"/>

                                </b:inputText>
                                <b:label value="#{msg['login.register.password.requirement']}" styleClass="login-hint"/>
                            </div>

                            <b:message for="input_user" showIcon="false" showDetail="true" style="text-align: left"/>
                            <b:message for="input_mail" showIcon="false" showDetail="true" style="text-align: left"/>
                            <b:message for="input_password" showIcon="false" showDetail="true" style="text-align: left"/>

                            <b:message for="signup_button" showIcon="false" showDetail="true" style="text-align: left"/>

                            <div style="text-align: center; display: block; margin-top: 25px;" >
                                <h:outputText value="#{msg['login.forward.login']}" styleClass="login-forget"/>
                                <b:navLink value="#{msg['login.forward.login.button']}" style="font-weight: bolder;margin-left: 15px" outcome="login"/>
                            </div>

                            <b:commandButton value="#{msg['navbar.button.signup']}" icon="log-in" size="lg" action="#{loginBean.signUp()}" id="signup_button" styleClass="btn-maymus-primary" style="width: 100%;margin-top: 15px"/>

                        </h:form>
                    </b:column>
                </b:column>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
