<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{sessionBean.isNotLoggedInForwardMovie()}"/>
        <f:viewAction action="#{movieListBean.initUser()}"/>
    </f:metadata>

    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="5" style="text-align: left; ">
                        <h:outputText styleClass="list_info_header" value="#{msg['list.custom']}" />

                    </b:column>
                </b:column>
                <b:column col-xs="12" class="list_body"  >
                    <b:column col-xs="12" class="container_lists">

                        <b:container class="panel-detail-container" rendered="true">
                            <b:panel col-xs="12" class="Dcard-Container"  >
                                <ui:repeat value="#{sessionBean.loggedUser.movieCustomLists}" var="abc" id="list_repeat" rendered="#{not empty sessionBean.loggedUser.movieCustomLists}">
                                    <b:column rendered="#{not empty abc.movies}" style="padding: 0px; margin: 0px">

                                        <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >
                                            <p:carousel value="#{abc.movies}" var="topR" class="overview-carousel" style="width: 100%" itemStyle="text-align:center" responsive="false" numVisible="6" >
                                                <f:facet name="header">
                                                    <h:link  outcome="/pages/movie/custom_list.xhtml" onclick="toggle('progress')">
                                                        <f:param name="list" value="#{abc.name}"/>
                                                        <f:param name="user" value="#{sessionBean.loggedUser.username}"/>
                                                        <h:outputText value="#{abc.name}" class="Dcard-Header" style="display: initial"/>
                                                        <b:badge value="#{abc.movies.size()}" style="margin-left: 5px"/>
                                                    </h:link>
                                                </f:facet>
                                                <ti:card_small title="#{topR.name}" picture="#{movieDetailBean.posterImageMD(topR.poster)}" mov_id="#{topR.movie_id}" redirect="true" outcome="/pages/movie/movie.xhtml" subtitle=""/>
                                            </p:carousel>
                                        </div>
                                        <div class="Dcard-Seperator"/>

                                    </b:column>

                                    <b:column rendered="#{empty abc.movies}" style="padding: 0px; margin: 0px">
                                        <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >
                                            <p:carousel value="#{abc}" var="topR" class="overview-carousel" style="width: 100%" itemStyle="text-align:center" responsive="false" numVisible="1" >
                                                <f:facet name="header">
                                                    <h:link  outcome="/pages/movie/custom_list.xhtml" onclick="toggle('progress')">
                                                        <f:param name="list" value="#{abc.name}"/>
                                                        <h:outputText value="#{abc.name}" class="Dcard-Header"/>
                                                    </h:link>
                                                </f:facet>
                                                <h:outputText style="font-size: 22px" value="#{msg['movie.list.user.empty']}" /><br/><br/>
                                                <h:outputText style="font-size: 18px" value="#{msg['movie.list.user.empty.sub']}" /><br/><br/><br/>
                                            </p:carousel>
                                        </div>
                                        <div class="Dcard-Seperator"/>

                                    </b:column>
                                </ui:repeat>

                                <b:column col-xs="12" rendered="#{empty sessionBean.loggedUser.movieCustomLists}" class="content-list">

                                    <b:column col-xs="12" style="text-align: left; padding-top: 50px">
                                        <h:outputText style="font-size: 22px" value="#{msg['movie.list.user.custom.empty']}" /><br/><br/>
                                        <h:outputText style="font-size: 18px" value="#{msg['movie.list.user.custom.empty.sub']}" /><br/><br/><br/>
                                    </b:column>
                                </b:column>


                            </b:panel>
                        </b:container>
                    </b:column>
                </b:column>
            </ui:define>
        </ui:composition>
    </h:body>

</html>