<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ti="http://java.sun.com/jsf/composite/components"

      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <f:metadata>
        <f:event type="preRenderView" listener="#{movieDetailBean.init(sessionBean.loggedUser, languageBean.language)}" >
            <f:ajax execute="@this" render="globalmessages"/>
        </f:event>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <b:container class="panel-detail-container" rendered="true">


                    <b:panel col-xs="12" col-sm="4" col-md="4" col-lg="4" styleClass="Dcard-Container"  >

                        <div class="Dcard hidden-sm hidden-md hidden-lg">
                            <div class="Dcard-Header-Big">
                                <h:outputText value="#{movieDetailBean.movie.title}"/>
                            </div>
                        </div>

                        <div class="Dcard-Seperator hidden-sm hidden-md hidden-lg"/>

                        <div class="Dcard" style="padding: 0px;">
                            <p:cache key="#{movieDetailBean.posterImageXL(movieDetailBean.movie.posterPath)}">
                                <p:graphicImage value="#{movieDetailBean.posterImageXL(movieDetailBean.movie.posterPath)}"  styleClass="Dcard-Image" />
                            </p:cache>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <ti:createListDialog title="#{msg['customList.add']}"
                                             type="movie"
                                             bean="#{movieDetailBean}"
                                             />

                        <b:column rendered="#{not empty movieDetailBean.youtubeLinks}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{movieDetailBean.youtubeLinks}" var="xx" itemStyle="text-align:center" responsive="true" style="width: 100%"  numVisible="1">

                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.trailer']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <iframe width="100%" height="250px" src="#{xx}" frameborder="0" allowfullscreen="true"></iframe>
                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{movieDetailBean.tagModel != null}" class="hidden-xs" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>
                            <div class="Dcard">
                                <div class="Dcard-Header">
                                    <h:outputText value="#{msg['detail.tags']}:"/>
                                </div>
                                <div class="Dcard-Body">
                                    <p:tagCloud model="#{movieDetailBean.tagModel}"  class="Dcard-TagCloud" />
                                </div>
                            </div>
                        </b:column>

                    </b:panel>

                    <b:panel styleClass="Dcard-Container" col-xs="12" col-sm="8" col-md="8" col-lg="8">
                        <div class="Dcard hidden-xs">
                            <b:column col-sm="8" col-md="9" class="Dcard-Header-Big">
                                <h:outputText value="#{movieDetailBean.movie.title}"/>
                            </b:column>
                            <b:column col-sm="4" col-md="3" style="direction:rtl">
                                <b:button class="btn-maymus-primary" href="https://www.imdb.com/title/#{movieDetailBean.movie.imdbID}"
                                          target="_blank" value="IMDb"/>
                                <b:button class="btn-maymus-primary" href="https://www.themoviedb.org/movie/#{movieDetailBean.movie.id}"
                                          target="_blank" value="TMDb"/>
                            </b:column>
                        </div>
                        <div class="Dcard-Seperator"/>

                        <div class="Dcard">
                            <b:row class="Dcard-Body">
                                <b:column col-xs="4"  class="Dcard-Fact-Header">
                                    <h:outputText value="#{msg['detail.originaltitle']}:" />
                                </b:column>
                                <b:column col-xs="8"  styleClass="Dcard-Fact-Body">
                                    <h:outputText value="#{movieDetailBean.movie.originalTitle}" />
                                </b:column>
                                <b:column col-xs="12" >
                                    <b:row>
                                        <b:column col-xs="4"  class="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['detail.runtime']}:" />
                                        </b:column>
                                        <b:column col-xs="8" styleClass="Dcard-Fact-Body">
                                            <h:outputText value="#{not empty movieDetailBean.movie.runtime ? movieDetailBean.movie.runtime : '-'} Minuten" />
                                        </b:column>
                                    </b:row>
                                </b:column>
                                <b:column col-xs="12" >
                                    <b:row>
                                        <b:column col-xs="4" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['detail.release']}:" />
                                        </b:column>
                                        <b:column col-xs="8" styleClass="Dcard-Fact-Body">
                                            <h:outputText value="#{not empty movieDetailBean.movie.releaseDate ? movieDetailBean.converteTimeToDE(movieDetailBean.movie.releaseDate) : '-'}" />
                                        </b:column>
                                    </b:row>
                                </b:column>
                                <b:column col-xs="12" >
                                    <b:row>
                                        <b:column col-xs="4" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['detail.revenue']}:" />
                                        </b:column>
                                        <b:column col-xs="8" styleClass="Dcard-Fact-Body">
                                            <h:outputText value="#{not empty movieDetailBean.movie.revenue ? movieDetailBean.movie.revenue : '-'}$" />
                                        </b:column>
                                    </b:row>
                                </b:column>
                                <b:column col-xs="12" >
                                    <b:row>
                                        <b:column col-xs="4" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['detail.budget']}:" />
                                        </b:column>
                                        <b:column col-xs="8" class="Dcard-Fact-Body">
                                            <h:outputText  value="#{not empty movieDetailBean.movie.budget ? movieDetailBean.movie.budget : '-'}$" />
                                        </b:column>
                                    </b:row>
                                </b:column>
                            </b:row>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <div class="Dcard">
                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" styleClass="Dcard-Fact-Header" style="text-align: left" hidden="sm,md,lg">
                                    <h:outputText value="#{msg['detail.genre']}:" />
                                </b:column>
                                <b:column  col-sm="4"  styleClass="Dcard-Fact-Header" hidden="xs">
                                    <h:outputText value="#{msg['detail.genre']}:" />
                                </b:column>
                                <b:column col-xs="12" col-sm="8"  styleClass="Dcard-Fact-Body">
                                    <p:repeat value="#{movieDetailBean.movie.genres}" var="genre" >
                                        <b:badge value="#{genre.name}" class="Dcard-Fact-Badge"/>
                                    </p:repeat>
                                </b:column>
                            </b:row>
                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" styleClass="Dcard-Fact-Header" hidden="sm,md,lg" style="text-align: left" >
                                    <h:outputText value="#{msg['detail.prodland']}:" />
                                </b:column>
                                <b:column col-sm="4"  styleClass="Dcard-Fact-Header"  hidden="xs">
                                    <h:outputText value="#{msg['detail.prodland']}:" />
                                </b:column>
                                <b:column col-xs="12" col-sm="8"  styleClass="Dcard-Fact-Body">
                                    <p:repeat value="#{movieDetailBean.movie.productionCountries}" var="prod_country">
                                        <b:badge value="#{prod_country.name}" styleClass="Dcard-Fact-Badge"/>
                                    </p:repeat>
                                </b:column>
                            </b:row>
                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" styleClass="Dcard-Fact-Header" style="text-align: left" hidden="sm,md,lg">
                                    <h:outputText value="#{msg['detail.prodcompany']}:" />
                                </b:column>
                                <b:column  col-sm="4"  styleClass="Dcard-Fact-Header" hidden="xs">
                                    <h:outputText value="#{msg['detail.prodcompany']}:" />
                                </b:column>
                                <b:column col-xs="12" col-sm="8"  styleClass="Dcard-Fact-Body">
                                    <p:repeat value="#{movieDetailBean.movie.productionCompanies}" var="prod_comp">
                                        <b:badge value="#{prod_comp.name}" styleClass="Dcard-Fact-Badge"/>
                                    </p:repeat>
                                </b:column>
                            </b:row>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <div class="Dcard">
                            <div class="Dcard-Header">
                                <h:outputText value="#{msg['detail.story']}:"/>
                            </div>
                            <div class="Dcard-Body">
                                <h:outputText styleClass="Dcard-Fact-Body" value="#{not empty movieDetailBean.movie.overview ? movieDetailBean.movie.overview : 'Leider kein Text verfügbar :('}"/>
                            </div>
                        </div>

                        <b:column rendered="#{not empty movieDetailBean.movie.credits.cast}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>
                            <div class="Dcard " style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{movieDetailBean.movie.credits.cast}" var="cast" itemStyle="text-align:center" responsive="true" numVisible="4">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.actor']}:" class="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small picture="#{movieDetailBean.posterImageMD(cast.profilePath)}" subtitle="#{cast.character}" title="#{cast.name}" redirect="false"/>
                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty movieDetailBean.movie.credits.crew}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>
                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{movieDetailBean.movie.credits.crew}" var="crew" itemStyle="text-align:center" responsive="true" numVisible="4">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.crew']}:" class="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small picture="#{movieDetailBean.posterImageMD(crew.profilePath)}" subtitle="#{crew.name}" title="#{crew.job}" redirect="false"/>
                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty movieDetailBean.similar}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>
                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{movieDetailBean.similar}" var="similar" itemStyle="text-align:center" responsive="true" numVisible="4" style="color: green !important">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.similarmovs']}:" class="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small title="#{similar.name}"  picture="#{movieDetailBean.posterImageMD(similar.poster)}"  mov_id="#{similar.movie_id}" 
                                                   redirect="true" outcome="/pages/movie/movie.xhtml" subtitle="#{movieDetailBean.converteTimeToDE(similar.releaseDate)}"/>
                                </p:carousel>
                            </div>
                        </b:column>
                    </b:panel>



                </b:container>
            </ui:define>
        </ui:composition>
    </h:body>
</html>	