<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{movieListBean.initializeTmdb()}"/>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content" >
                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="5" style="text-align: left; ">
                        <h:outputText styleClass="list_info_header" value="#{msg[movieListBean.listname]}"  style="display: block"/>
                    </b:column>
                    <b:column col-xs="7" style="text-align: right; ">
                        <ti:social_component text="#{msg['share.movie.list']}"/>
                    </b:column>
                </b:column>
                <b:column col-xs="12" class="list_body">
                    <b:column col-xs="12" class="container_lists">
                        <div class="workaround_all_items_one_line">
                            <ui:repeat value="#{movieListBean.tmdbList.movies}" var="pop"  >
                                <ti:card_large  title="#{pop.name}" 
                                                story="#{pop.story}"
                                                picture="#{movieListBean.posterImageMD(pop.poster)}"
                                                picture_lg="#{movieListBean.posterImageXL(pop.poster)}"
                                                rating="#{pop.rating}"
                                                date="#{movieListBean.converteTimeToDE(pop.releaseDate)}"
                                                o_id="#{pop.movie_id}"
                                                link="/pages/movie/movie.xhtml"/>
                            </ui:repeat>
                        </div>
                    </b:column>

                </b:column>
                <b:column col-xs="12" class="list_info_bottom"  >
                    <h:outputText style="font-size: 12px; display: block; font-style: italic" value="#{msg['list.last.edit']}: #{movieListBean.getLastEdit(movieListBean.tmdbList.last_edit)}"/>
                </b:column>
            </ui:define>
        </ui:composition>
    </h:body>

</html>