<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{movieListBean.initialize()}"/>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">

                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="12" style="text-align: left; ">
                        <h:outputText styleClass="list_info_header" value="#{msg[movieListBean.listname]}: #{msg['navbar.movie']}" style="display: block"/>
                    </b:column>

                </b:column>

                <b:column col-xs="12" class="list_body">
                    <b:column col-xs="12" style="padding: 0px" rendered="#{not empty movieListBean.userMovieList.movies}" >
                        <b:column col-xs="12" class="container_lists">
                            <b:column col-xs="12" class="workaround_all_items_one_line">
                                <ui:repeat value="#{movieListBean.userMovieList.movies}" var="nowp"  >
                                    <ti:card_large title="#{nowp.name}"
                                                   story="#{nowp.story}"
                                                   picture="#{movieListBean.posterImageMD(nowp.poster)}"
                                                   picture_lg="#{movieListBean.posterImageXL(nowp.poster)}"
                                                   rating="#{nowp.rating}"
                                                   date="#{nowp.releaseDate}"
                                                   o_id="#{nowp.movie_id}"
                                                   link="/pages/movie/movie.xhtml"
                                                   removeMovie="true"
                                                   />
                                </ui:repeat>
                            </b:column>
                        </b:column>
                    </b:column>

                    <b:column col-xs="12" rendered="#{empty movieListBean.userMovieList.movies}" class="content-list">

                        <b:column col-xs="12" style="text-align: left; padding-top: 50px">
                            <h:outputText style="font-size: 22px" value="#{msg['movie.list.user.empty']}" /><br/><br/>
                            <h:outputText style="font-size: 18px" value="#{msg['movie.list.user.empty.sub']}" /><br/><br/><br/>
                        </b:column>
                    </b:column>
                </b:column>
                <b:column col-xs="12" class="list_info_bottom"  >
                    <h:outputText style="font-size: 12px; display: block; font-style: italic" value="#{msg['list.last.edit']}: #{movieListBean.getLastEdit(movieListBean.userMovieList.last_edit)}"/>
                </b:column>
            </ui:define>
        </ui:composition>
    </h:body>

</html>	