<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE html>

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <!-- Content Header (Page header) -->


                <section class="content-header">
                    <h1 style="color: #fff">
                        500 Error Page
                    </h1>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="error-page">
                        <div class="error-content" style="color: #fff">
                            <h3 style="color: #fff"> Oops! Something went wrong.</h3>
                            <p>
                                We will work on fixing that right away.
                                Meanwhile, you may <a href='/maymus'>return to start page</a>.
                            </p>
                        </div>
                    </div><!-- /.error-page -->
                </section><!-- /.content -->

            </ui:define>


        </ui:composition>

    </h:body>
</html>	