<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{gameListBean.requestUserCustomList()}"/>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <ti:editListDialog bean="#{gameListBean}"/>

                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="5" style="text-align: left; " >
                        <h:outputText styleClass="list_info_header" value="#{gameListBean.listname}:" style="display: block"/>
                        <h:outputText style="font-size: 18px" value="#{gameListBean.editDesc}" />
                        <h:outputText style="font-size: 12px; display: block; margin-top: 15px; font-style: italic" value="#{msg['list.last.edit']}: #{gameListBean.lastEdit()}"/>
                    </b:column>

                    <b:column col-xs="7" style="text-align: right; ">
                        <b:row rendered="#{gameListBean.editPublicity}">
                            <ti:social_component text="#{msg['share.game.list']}"/>
                        </b:row>
                        <b:row rendered="#{!gameListBean.editPublicity}">
                            <h:outputLabel value="#{msg['list.share.text']}">
                                <b:iconAwesome name="arrow-down"/>
                            </h:outputLabel>
                        </b:row>
                        <b:row>
                            <h:form style="width: 100%">
                                <b:button onclick="PF('editList').show();" icon-awesome="pencil" value="#{msg['dialog.customList.btn']}" class="btn-maymus-primary"/>
                            </h:form>
                        </b:row>
                    </b:column>
                </b:column>

                <b:column col-xs="12" class="list_body">
                    <b:column col-xs="12" class="container_lists" rendered="#{not empty gameListBean.gameList.games}">
                        <ui:repeat value="#{gameListBean.gameList.games}" var="game" >
                            <ti:card_large title="#{game.name}"
                                           story="#{game.story}"
                                           picture="#{gameListBean.posterGameSM(game.poster)}"
                                           picture_lg="#{gameListBean.posterGameLG(game.poster)}"
                                           rating="#{game.rating}"
                                           date="#{game.releaseDate}"
                                           o_id="#{game.game_id}"
                                           link="/pages/games/games.xhtml"
                                           removeGames="true"/>
                        </ui:repeat>
                    </b:column>

                    <b:column col-xs="12" rendered="#{empty gameListBean.gameList.games}" class="content-list">
                        <b:column col-xs="12" style="text-align: left; padding-top: 50px">
                            <h:outputText style="font-size: 22px" value="#{msg['game.list.user.empty']}" /><br/><br/>
                            <h:outputText style="font-size: 18px" value="#{msg['game.list.user.empty.sub']}" /><br/><br/><br/>
                        </b:column>
                    </b:column>
                </b:column>

            </ui:define>
        </ui:composition>
    </h:body>

</html>