<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ti="http://java.sun.com/jsf/composite/components"

      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <f:metadata>
        <f:event type="preRenderView" listener="#{gameDetailBean.requestGame()}" >
            <f:ajax execute="@this" render="globalmessages"/>
        </f:event>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <b:container class="panel-detail-container" rendered="true">


                    <b:panel col-xs="12" col-sm="4" col-md="4" col-lg="4" styleClass="Dcard-Container"  >

                        <div class="Dcard hidden-sm hidden-md hidden-lg">
                            <div class="Dcard-Header-Big">
                                <h:outputText value="#{gameDetailBean.game.name}"  />
                            </div>
                        </div>

                        <div class="Dcard-Seperator hidden-sm hidden-md hidden-lg"/>

                        <div class="Dcard" style="padding: 0px;">
                            <p:cache key="#{gameDetailBean.posterGameSM(gameDetailBean.game.cover.cloudinaryId)}">
                                <p:graphicImage value="#{gameDetailBean.posterGameSM(gameDetailBean.game.cover.cloudinaryId)}"  styleClass="Dcard-Image" />
                            </p:cache>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <ti:createListDialog title="#{msg['customList.add']}"
                                             type="games"
                                             bean="#{gameDetailBean}"
                                             />

                        <div class="Dcard-Seperator"/>

                        <b:column class="Dcard" rendered="#{not empty gameDetailBean.releases}" >
                            <div class="Dcard-Header">
                                <h:outputText  value="#{msg['detail.releases']}:"/>
                            </div>

                            <div class="Dcard-Body" rendered="#{not empty gameDetailBean.releases}">
                                <b:column  styleClass="Dcard-Fact-Body">
                                    <p:repeat value="#{gameDetailBean.releases}" var="release" >
                                        <h:outputText value="#{release}" style="display:block"/>
                                    </p:repeat>
                                </b:column>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty gameDetailBean.youtubeLinks}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{gameDetailBean.youtubeLinks}" var="xx" itemStyle="text-align:center" responsive="true" style="width: 100%"  numVisible="1">

                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.trailer']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <iframe width="100%" height="250px" src="#{xx}" frameborder="0" allowfullscreen="true"></iframe>
                                </p:carousel>
                            </div>
                        </b:column>


                    </b:panel>

                    <b:panel styleClass="Dcard-Container" col-xs="12" col-sm="8" col-md="8" col-lg="8">

                        <div class="Dcard hidden-xs">
                            <b:column col-xs="11" class="Dcard-Header-Big">
                                <h:outputText value="#{gameDetailBean.game.name}"/>
                            </b:column>
                            <b:column col-xs="1" class="Dcard-Header-Big" style="height: 1.5em; padding: 0px; display: grid">
                                <p:graphicImage value="#{gameDetailBean.pegiImage(gameDetailBean.game.pegi.rating)}" style="height: inherit; width: auto"/>
                            </b:column>
                        </div>
                        <div class="Dcard-Seperator"/>

                        <b:column rendered="#{not empty gameDetailBean.game.websites}" style="padding: 0px; margin: 0px">
                            <div class="Dcard">
                                <b:column col-xs="12" >
                                    <div class="Dcard-ShareIcons" style="display: inline-block;vertical-align: middle;                                             ">
                                        <h:outputLink value="#{gameDetailBean.game.url}" target="_blank">
                                            <b:iconAwesome name="external-link" size="2x" />
                                            <h:outputText value="IGDB" style="margin-left: 5px; text-decoration: underline" class="h5"/>
                                        </h:outputLink>

                                    </div>
                                    <p:repeat value="#{gameDetailBean.game.websites}" var="link">
                                        <div class="Dcard-ShareIcons" style="display: inline-block;vertical-align: middle;                                             ">
                                            <h:outputLink value="#{link.url}" target="_blank">
                                                <b:iconAwesome name="#{gameDetailBean.shareIcon(link.category)}" size="2x" />
                                                <h:outputText value="#{gameDetailBean.shareName(link.category)}" style="margin-left: 5px; text-decoration: underline" class="h5"/>
                                            </h:outputLink>
                                        </div>
                                    </p:repeat>
                                </b:column>
                            </div>
                            <div class="Dcard-Seperator"/>
                        </b:column>

                        <div class="Dcard">
                            <b:column col-xs="12" col-sm="12" col-md="7" col-lg="7" style="padding: 0px; margin: 0px">
                                <b:row class="Dcard-Body">
                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.franchise}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.franchise']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body">
                                            <h:outputText value="#{gameDetailBean.game.franchise.name}"/>
                                        </b:column>
                                    </b:column>
                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.category}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.category']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body">
                                            <h:outputText value="#{gameDetailBean.gameCategory(gameDetailBean.game.category)}" />
                                        </b:column>
                                    </b:column>

                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.gameModes}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.mode']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.gameModes}" var="mode">
                                                <h:outputText value="#{mode.name}"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.playerPerspectives}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.player.perspevtives']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.playerPerspectives}" var="perspective">
                                                <h:outputText value="#{perspective.name}"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.gameEngines}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.engine']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.gameEngines}" var="engine">
                                                <h:outputText value="#{engine.name}"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                    <b:column col-xs="12" col-sm="12"  rendered="#{not empty gameDetailBean.game.timeToBeat}">
                                        <b:column col-xs="5" col-sm="4" col-md="6" styleClass="Dcard-Fact-Header">
                                            <h:outputText value="#{msg['game.time.to.beat']}:" />
                                        </b:column>
                                        <b:column col-xs="7" col-sm="8" col-md="6" styleClass="Dcard-Fact-Body" style="padding: 0px">
                                            <b:column col-xs="3" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.hastly}">
                                                <h:outputText value="#{msg['game.time.to.beat.fast']}:"/>
                                            </b:column>
                                            <b:column col-xs="8" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.hastly}">
                                                <h:outputText value="#{gameDetailBean.converteTimestampToTime(gameDetailBean.game.timeToBeat.hastly)}"/>
                                            </b:column>
                                            <b:column col-xs="3" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.normally}">
                                                <h:outputText value="#{msg['game.time.to.beat.normal']}:"/>
                                            </b:column>
                                            <b:column col-xs="8" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.normally}">
                                                <h:outputText value="#{gameDetailBean.converteTimestampToTime(gameDetailBean.game.timeToBeat.normally)}"/>
                                            </b:column>
                                            <b:column col-xs="3" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.completely}">
                                                <h:outputText value="#{msg['game.time.to.beat.complete']}:"/>
                                            </b:column>
                                            <b:column col-xs="8" col-md="6" rendered="#{not empty gameDetailBean.game.timeToBeat.completely}">
                                                <h:outputText value="#{gameDetailBean.converteTimestampToTime(gameDetailBean.game.timeToBeat.completely)}"/>
                                            </b:column>
                                        </b:column>
                                    </b:column>
                                </b:row>
                            </b:column>

                            <b:column col-xs="0" col-sm="0" col-md="5" col-lg="5" style="padding: 0px; margin: 0px">
                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.genres}">
                                    <b:column style="display: grid">
                                        <b:column  styleClass="Dcard-Fact-Header" style="text-align: left">
                                            <h:outputText value="#{msg['detail.genre']}:" />
                                        </b:column>
                                        <b:column  styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.genres}" var="genre" >
                                                <b:badge value="#{genre.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>
                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.developers}">
                                    <b:column style="display: grid">
                                        <b:column  styleClass="Dcard-Fact-Header" style="text-align: left">
                                            <h:outputText value="#{msg['game.developer']}"/>
                                        </b:column>
                                        <b:column  styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.developers}" var="devs">
                                                <b:badge value="#{devs.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>

                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.publishers}">
                                    <b:column style="display: grid">
                                        <b:column  styleClass="Dcard-Fact-Header" style="text-align: left">
                                            <h:outputText value="#{msg['game.publisher']}:" />
                                        </b:column>
                                        <b:column styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.publishers}" var="publisher">
                                                <b:badge value="#{publisher.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>

                            </b:column>
                        </div>

                        <div class="Dcard-Seperator"/>


                        <b:column hidden="md,lg" style="padding: 0px; margin: 0px">

                            <div class="Dcard">
                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.genres}">
                                    <b:column >
                                        <b:column col-xs="3" col-sm="4" styleClass="Dcard-Fact-Header" >
                                            <h:outputText value="#{msg['detail.genre']}:" />
                                        </b:column>
                                        <b:column col-xs="9" col-sm="8" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.genres}" var="genre" >
                                                <b:badge value="#{genre.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>
                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.developers}">
                                    <b:column >
                                        <b:column col-xs="3" col-sm="4" styleClass="Dcard-Fact-Header" >
                                            <h:outputText value="#{msg['game.developer']}"/>
                                        </b:column>
                                        <b:column col-xs="9" col-sm="8" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.developers}" var="devs">
                                                <b:badge value="#{devs.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>

                                <b:row class="Dcard-Body" rendered="#{not empty gameDetailBean.game.publishers}">
                                    <b:column >
                                        <b:column col-xs="3" col-sm="4" styleClass="Dcard-Fact-Header" >
                                            <h:outputText value="#{msg['game.publisher']}:" />
                                        </b:column>
                                        <b:column col-xs="9" col-sm="8" styleClass="Dcard-Fact-Body">
                                            <p:repeat value="#{gameDetailBean.game.publishers}" var="publisher">
                                                <b:badge value="#{publisher.name}" styleClass="Dcard-Fact-Badge"/>
                                            </p:repeat>
                                        </b:column>
                                    </b:column>
                                </b:row>
                            </div>

                            <div class="Dcard-Seperator"/>
                        </b:column>

                        <div class="Dcard ">
                            <div class="Dcard-Header">
                                <h:outputText  value="#{msg['detail.story']}:"/>
                            </div>
                            <div class="Dcard-Body">
                                <h:outputText value="#{not empty gameDetailBean.game.summary ? gameDetailBean.game.summary : 'Leider kein Text verfügbar :('}"/>
                            </div>
                        </div>



                        <b:column rendered="#{not empty gameDetailBean.game.expansions}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard " style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{gameDetailBean.game.expansions}" var="sim" itemStyle="text-align:center" responsive="true" numVisible="3">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['game.expansions']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small picture="#{gameDetailBean.posterGameSM(sim.cover.cloudinaryId)}"
                                                   subtitle="#{gameDetailBean.converteTimestampToDate(sim.firstReleaseDate)}" title="#{sim.name}"
                                                   redirect="true" outcome="/pages/games/games.xhtml" mov_id="#{sim.id}"/>
                                </p:carousel>
                            </div>
                        </b:column>

                    </b:panel>

                </b:container>
            </ui:define>
        </ui:composition>
    </h:body>
</html>	