<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets">

    <head>

    </head>



    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">

        </ui:composition>

    </h:body>
</html>	