@border_highlight: @color_highlight;
@border_searchbar_header: @background_subheader;
@border_subheader_bottom: @background_body;

.navbar{
    min-height: @header_height;
}

.navbar-nav>li>a{
    outline: none;
    line-height: 25px;
}

 .header-small{
     .navbar-collapse{
         background-color: @background_subheader;
     }
     
     .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
         max-height: auto !important;
     }
     
 }

 .navbar-maymus-xsl{
    z-index: 1000;
    margin: 0px;
    height: @header_height;
    background-color: @background_header;
    font-size: @font_size_header_item;
    border: 0px;
    a {
        height: @header_height;
        color: @font_color_bright !important;
        &:hover {
            height: @header_height;
            //color: @background_header !important;
            //background-color: @font_color_highlight !important;
            border-bottom: none;
        }
    }
    .navbar-fixed-top{
        border: 0px;
    }
    .navbar-brand {
        color: @font_color_bright;
        font-size: @font_size_header_brand;
        font-weight: 700;
        line-height: 20px;
    }
    .login-header {
        background-color: @background_transparent;
        padding-right: 0px;
        height: @header_height;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .btn-block {
        border-radius: 1px !important;
    }
    .dropdown {
       
    }
       
    .navbar-form{
        margin-top: 0px;
    }
    .dropdown-menu{
        border-radius: 0px;
        padding: 10px;
        color: @font_color_bright;
        background: @background_header;
    }
    
   
    .navbar-nav>li>.dropdown-menu{
        box-shadow: @box_shadow_small;
        -webkit-shadow: @box_shadow_small;
        z-index: 20;
    }
    .navbar-collapse.in{
        max-height: 100%;
    }
    .navbar-collapse { 
        background-color: @color_subheader;
        height: 70vh;
    }
    
    
/*    .btn-maymus-header {
        color: @font_color_bright !important;
        border: 0px !important;
        background-color: @font_color_dark !important;
        border-radius: 0 !important;
        outline: none !important;
        background-image: none !important;
        text-shadow: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;

    }*/

    .btn-maymus {
        border: 0px;
        outline:none !important;
        height: 35px;
        border-radius: 0px;
        color: @font_color_bright !important;
        background-color: @background_header;
        &:focus {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
        &:hover {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
        &:active {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
            background-image: none;
            &:hover {
                color: @font_color_bright !important;
                background-color: @font_color_highlight;
            }
            &:focus {
                color: @font_color_bright !important;
                background-color: @font_color_highlight;
            }
        }
        &:active.focus {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
    }
    
 }
 
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
   background-color: @font_color_highlight;
}

 
.navbar-maymus {
    z-index: 1000;
    margin: 0px;
    height: @header_height;
    background-color: @background_header;
    font-size: @font_size_header_item;
    border: 0px;
    a {
        height: @header_height;
        color: @font_color_bright !important;
        &:hover {
            height: @header_height;
            //color: @background_header !important;
            //background-color: @font_color_highlight !important;
            border-bottom: none;
        }
    }
    .navbar-fixed-top{
        border: 0px;
    }
    .navbar-brand {
        color: @font_color_bright;
        font-size: @font_size_header_brand;
        font-weight: 700;
        line-height: 20px;
    }
    .login-header {
        background-color: @background_transparent;
        padding-right: 0px;
        height: @header_height;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
    }
    .btn-block {
        border-radius: 1px !important;
    }
    .dropdown {
       
    }
    .b.caret {
        border-top-color: @font_color_bright !important;
        border-bottom-color: @font_color_bright !important;
    }
    .dropdown > a .caret {
        border-top-color: @font_color_bright !important;
        border-bottom-color: @font_color_bright !important;
    }
    .dropdown-toggle {
        &:hover {
            >.caret {
        border-top-color: @font_color_bright !important;
        border-bottom-color: @font_color_bright !important;
            }
        }
        &:focus {
            >.caret {
        border-top-color: @font_color_bright !important;
        border-bottom-color: @font_color_bright !important;
                }
        }
    }
    .btn-maymus {
        border: 0px;
        outline:none !important;
        height: 35px;
        border-radius: 0px;
        .btn-single {
            border-radius: 0px;
        }
        color: @font_color_bright !important;
        background-color: @background_subheader;
        &:focus {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
        &:hover {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
        &:active {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
            background-image: none;
            &:hover {
                color: @font_color_bright !important;
                background-color: @font_color_highlight;
            }
            &:focus {
                color: @font_color_bright !important;
                background-color: @font_color_highlight;
            }
        }
        &:active.focus {
            color: @font_color_bright !important;
            background-color: @font_color_highlight;
        }
    }
    
    .navbar-form{
        margin-top: 0px;
    }
    .dropdown-menu{
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
        color: @font_color_bright;
        background: @background_header;
    }
    
    
    .navbar-nav>li>.dropdown-menu{
        box-shadow: @box_shadow_small;
        -webkit-shadow: @box_shadow_small;
        z-index: 20;
    }
    .navbar-right{
        /*margin-right: 0px;*/
    }
    .container{
        width: 92%
    }
    
}

.search-header {
    color: @font_color_bright;
    background-color: @background_transparent;
    margin: 0px;
    margin-right: 20px !important;
    height: @header_height;
    .searchbar-icon {
        color: @font_color_bright;
        font-size: @font_size_header_brand;
        line-height: @header_height;
        &:hover {
            color: @font_color_highlight;
        }
    }
    .searchbar-in {
        width: 300px;
        background-color: @background_header;
        color: @font_color_bright;
        border-radius: 0;
        border-left: 0px;
        border-right: 0px;
        border-top: 0px;
        border-bottom-width: 1px;
        border-bottom-color: @border_searchbar_header ;
        border-bottom-style: solid ;
        height: 35px !important;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover {
            color: @font_color_bright ;
            border-left: 0px;
            border-right: 0px;
            border-top: 0px;
            border-bottom-width: 1px;
            border-bottom-color: @border_highlight ;
            border-bottom-style: solid ;
        }
        &:focus {
            color: @font_color_bright ;
            border-bottom: 2px solid @font_color_highlight;
            box-shadow: @box_shadow_none;
        }

    }
    ::-webkit-input-placeholder{
        color: @font_color_bright !important;
    }
}

.navbar-maymus.navbar-default {
	.navbar-nav {
		>.open {
			>a {
                            background-color: @background_subheader;
                            color: @font_color_bright !important;
			}
		}
	}
}

.navbar-default .navbar-nav > .open {
  > a .caret, > a:hover .caret, > a:focus .caret {
                border-top-color: @font_color_bright !important;
                border-bottom-color: @font_color_bright !important;
  }
}
.navbar-maymus-sub {
    z-index: 10;
    font-size: @font_size_subheader_item;
    margin: 0px;
    margin-top: @header_height;
    background-color: @background_subheader;
    border: 0px;
    border-radius: 0px;
    display: none;
    border-bottom-style: solid;
    border-bottom-color: @border_subheader_bottom;
    border-bottom-width: 3px;
    height: auto;
    a {
        color: @font_color_bright !important;
        height: @header_height;
        &:hover {
            //color: @background_subheader !important;
            background-color: @font_color_highlight !important;
            height: @header_height;
        }
    }
    .navbar-brand {
        color: @font_color_bright;
    }
    .navbar-nav>li>a{
        line-height: 25px;
    }
    .container{
        width: 85%;
    }
}
