/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22.08.2017, 16:24:40
    Author     : Kevin
*/


.workaround_all_items_one_line {
	display: flex;
	flex-wrap: wrap;
	>[class*='col-'] {
		display: flex;
		flex-direction: column;
	}
        
}


.thumb {
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    box-shadow: @box_shadow_small;

    .rating{
        position: absolute;
        top: 25px;
        width: 35%;
        height: auto;
        background-color: @background_header;
        color: @font_color_bright;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
    }    
        
    &:hover {
                box-shadow: @box_shadow_small_highlight;

            .hover-opaque {
                    opacity: 1;
            }
            .thumb_hover {
                    opacity: 1;
            }
    }
    .caption{
        color: @font_color_bright !important;
    }
}
.hover-opaque {
    opacity: 0;
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 25%;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;

}
.thumb_hover {
    background-color: @background_header;
    position: absolute;
    bottom:15px;
    left: 15px;
    right: 15px;
    margin: -15px;
    opacity: 0;
    transition: bottom  ease .5s;
    -webkit-transition: bottom ease .5s;
    -moz-transition: bottom ease .5s;
}


.thumbnail{
    padding: 0px;
    margin: 4px;
    box-shadow: @box_shadow_small;
    border-radius: 0px;
    background-color: transparent;
    border: none;
    .img{
        width: -webkit-fill-available;
    }
    &:hover{
        //box-shadow: @box_shadow_small_highlight;
    }
    
    .caption{
        padding: 5px;
        text-align: left;
        color: @font_color_dark;

        .title{
            font-weight: bold;
            display: block;

        }
        .subtitle{
            font-weight: normal;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

        }  
    }
    
}
.thumbnail.shadow-link {
	&:hover {
            box-shadow: @box_shadow_small_highlight;
	}
}

.container_lists{
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.panel-group .panel{
    border: 0px;
}


.close-icon{
       z-index: 1;
    position: absolute;
    top: 0px;
    background-color: @background_bright;
    border: 1px solid @background_header;
    border-radius: 0;
    right: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
        &:hover{
        color: @font_color_highlight;
        border: 1px solid;
    }
}

.overview-panel{
    margin: 15px;
    padding: 0px;
    box-shadow: @box_shadow_small;
    border-radius: 0px;
    .panel-body{
        padding:0px;
    }
}

.overview-carousel{
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    font-size: @font_size_medium;

    .overview-carousel-header{
        font-size: @font_size_card_header;
        color: @font_color_dark;
        &:hover {
            color: @font_color_highlight;
            text-decoration: underline;
        }
    }
    
    .panel-body{
        padding: 0px;
    }

}

.ui-carousel .ui-carousel-dropdown, .ui-carousel .ui-carousel-mobiledropdown{
    color: @font_color_dark !important;
}

.panel-detail-container {
    width: auto;
    padding: 0px;
    .panel-group .panel{
        border: 0px;
    }
}



.Dcard-Container {
    margin-bottom: 15px;
    border-radius: 0px !important;
    background-color: @background_transparent !important;
    width: 100%;
    color: @font_color_dark;
    
    .panel-body {
            padding: 0px !important;
    }
    .panel{
        box-shadow: @box_shadow_none;
        -webkit-box-shadow: @box_shadow_none;
    }
    
    .Dcard-Seperator {
        height: 15px;
        background-color: @background_transparent;
        border: 0px;
        -webkit-box-shadow:@box_shadow_none;
        box-shadow: @box_shadow_none;
    }
    
    .Dcard {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 15px;
        border-radius: 0px !important;
        background-color: @background_bright;
        width: 100%;
        color: @font_color_dark;
        -webkit-box-shadow:@box_shadow_small;
        box-shadow: @box_shadow_small;
        
        .Dcard-ShareIcons{
            margin:5px; 
            display: inline-block;
            a{
                color: @font_color_dark;
                text-decoration: underline;
                &:hover{
                    color:@font_color_highlight;
                }
            }

          
        }
        
        
        .panel-body {
            padding: 0px;
        }
        
        .Dcard-Image {
            height: auto;
            width: 100%;
            -webkit-box-shadow:@box_shadow_small;
            box-shadow: @box_shadow_small;
        }
        
 
        
        .Dcard-Header-Big {
            color: @font_color_dark;
            font-weight: 800;
            text-decoration: underline;
            font-size: @font_size_header;
        }
        .Dcard-Header {
            display: block;
            text-decoration: underline;
            text-align: left;
            font-weight: 800;
            text-overflow: ellipsis;
            overflow: hidden;
            margin-bottom: 10px;
            font-size: @font_size_large;
        }
        .Dcard-Body {
            font-size: @font_size_normal;

            .Dcard-Fact-Header {
                text-align: right;
                font-weight: 600;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space:nowrap;
                
            }
            .Dcard-Fact-Header.header-alone {
                display: block;
                text-align: left;
                text-decoration: underline;
            }
            .Dcard-Fact-Body {
                text-align: left;
                margin-bottom: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .Dcard-Fact-Badge {
                background-color: @background_badge;
                color: @font_color_bright;
                white-space: pre-line;
                //font-size: @font_size_medium;
            } 
            
            .Dcard-TagCloud {
                width: auto;
                border-radius: 0px;
                background-color: @background_bright;
                border: 0px;
                .ui-tagcloud {
                    ul {
                        margin-top: 1em;
                    }
                }
            }
        }
    
        .ui-widget-content {
            a {
                color: @font_color_dark;
                &:hover {
                    color: @font_color_highlight;
                    background-color: @background_transparent;
                    -webkit-box-shadow:@box_shadow_none;
                    box-shadow: @box_shadow_none;

                    text-decoration: underline;
                }
            }
        }
    }   
}

.Dcard-ButtonList{
    margin: 0 5px 5px 0px;
}

    
.ui-carousel .ui-carousel-header{
    background-color: @background_bright;
}
.ui-corner-all{
    border: 0px;
    background-color: @background_bright;
}
.ui-carousel .ui-carousel-viewport{
    border: 3px solid @background_bright;
    background-color: @background_bright;
}
.ui-carousel .ui-carousel-viewport .panel-group{
    padding: 5px;
}



.column-panel-padding-0{
    .panel-body{
        padding: 0px;
    }
}





.list_info{
    padding: 0px; 
    padding-bottom: 5px; 
    border-bottom: 1px solid @background_header;
}
.list_info_bottom{
    padding: 0px;
    padding-bottom: 5px;
    border-top: 1px solid @background_header
}

.list_info_header{
    font-weight: 800;
    color: @font_color_dark;
    margin-bottom: 10px;
        font-size: @font_size_header;
}

.list_body{
    padding: 0px;
    text-decoration: underline;
    text-align: left;
}



