/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02.08.2017, 17:07:48
    Author     : Kevin
*/

@import "variable.less";

*{
    margin: 0px;
}
html,body{
    font-size: 1em;
    font-family: @font_family;
      height: 100%;
    }



body {
    display: flex;
    flex-direction: column;
    font-family: @font_family;
    color: @font_color_dark;
    padding-top: 68px;
    background-color: @background_body;
    //line-height: 1.6;
    &:a {
        color: @font_color_dark;
    }
    
    .ui-widget{
        color: @font_color_dark;
        font-size: 1em;
        font-family: @font_family;
        &:hover{
            color: @font_color_highlight;
        }
    }
    .searchbar {
        color: @font_color_dark;
        border-radius: 0;
        border: 0;
        background-color: @background_searchbar;
        box-shadow: @box_shadow_small;
        &:focus {
            color: @font_color_dark;
            border: 0;
            box-shadow: @box_shadow_small_highlight;
        }   
    }
}

.body-wrapper{
  flex: 1 0 auto;

}

.container{
    //margin-bottom: 15px;
/*    width: 95% !important;*/
}

.content{
    min-height: 300px;
}

.footer{
    background-color: @background_header;
    color: @font_color_bright;
    height: auto;
    a{
        color: @font_color_bright;
        
        &:hover{
            color: @font_color_highlight;
            text-decoration: underline;
        }
    }
    
    .footer-line{
        width: 100%; 
        height: 2px; 
        background-color: @font_color_highlight; 
        text-align: center; 
        margin: auto; margin-bottom: 10px
    }
}

.panel-group{
    margin-bottom: 0px;
}

.ui-widget {
    font-family: @font_family;
}
.ui-widget .ui-widget {
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: @font_family;
}

.input-group {
    .input-group-addon{
        border-radius: 0px;
        color: @font_color_highlight;
        background-color: @font_color_dark;
    }
    
    .form-control{
        border-radius: 0px;
        &:focus{
            border: 1px solid @color_highlight;
        }
    }   
}

.btn-default{
    outline: none;
}
.btn-group .btn+.btn{
    margin-left: 0px;
}

.btn-maymus-inactive {
    border-radius: 0px !important;
    color: @font_color_bright !important;
    background-color: @background_subheader !important;
    border: 0px !important;
    border-radius: 0 !important;
    outline: none !important;
    background-image: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.btn-maymus-inactive:focus,
.btn-maymus-inactive.focus {
  color: @font_color_highlight;
  background-color: @background_header !important;
}
.btn-maymus-inactive:hover {
  color: @font_color_highlight;
  background-color: @background_header !important;
}
.btn-maymus-inactive:active,
.btn-maymus-inactive.active,
.open > .dropdown-toggle.btn-maymus-inactive {
  color: @font_color_highlight !important;
  background-color: @background_header !important;
}
.btn-maymus-inactive:active:hover,
.btn-maymus-inactive.active:hover,
.open > .dropdown-toggle.btn-maymus-inactive:hover,
.btn-maymus-inactive:active:focus,
.btn-maymus-inactive.active:focus,
.open > .dropdown-toggle.btn-maymus-inactive:focus,
.btn-maymus-inactive:active.focus,
.btn-maymus-inactive.active.focus,
.open > .dropdown-toggle.btn-maymus-inactive.focus {
  color: @font_color_highlight !important;
  background-color: @background_header !important;
  text-decoration: underline !important;
}
.btn-maymus-inactive:active,
.btn-maymus-inactive.active,
.open > .dropdown-toggle.btn-maymus-inactive {
  background-image: none !important;
}
.btn-maymus-inactive.disabled:hover,
.btn-maymus-inactive[disabled]:hover,
fieldset[disabled] .btn-maymus-inactive:hover,
.btn-maymus-inactive.disabled:focus,
.btn-maymus-inactive[disabled]:focus,
fieldset[disabled] .btn-maymus-inactive:focus,
.btn-maymus-inactive.disabled.focus,
.btn-maymus-inactive[disabled].focus,
fieldset[disabled] .btn-maymus-inactive.focus {
  color: @font_color_highlight !important;
  background-color: @background_header !important;
}
.btn-maymus-inactive .badge {
  color: @font_color_dark !important;
  background-color: @font_color_bright !important;
}


.btn-maymus-primary {
    color: @font_color_bright !important;
    border: 0px !important;
    background-color: @font_color_dark !important;
    border-radius: 0 !important;
    outline: none !important;
    background-image: none !important;
    text-shadow: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
        
}
.btn-maymus-primary:focus,
.btn-maymus-primary.focus {
  color:@font_color_bright !important;
  background-color: @font_color_dark !important;
}
.btn-maymus-primary:hover {
  color:@font_color_bright !important;
  background-color: @font_color_highlight!important;
}
.btn-maymus-primary:active,
.btn-maymus-primary.active,
.open > .dropdown-toggle.btn-maymus-primary {
  color:@font_color_bright !important;
  background-color: @font_color_highlight!important;
}
.btn-maymus-primary:active:hover,
.btn-maymus-primary.active:hover,
.open > .dropdown-toggle.btn-maymus-primary:hover,
.btn-maymus-primary:active:focus,
.btn-maymus-primary.active:focus,
.open > .dropdown-toggle.btn-maymus-primary:focus,
.btn-maymus-primary:active.focus,
.btn-maymus-primary.active.focus,
.open > .dropdown-toggle.btn-maymus-primary.focus {
  color:@font_color_bright !important;
  background-color: @font_color_highlight!important;
text-decoration: underline !important;
}
.btn-maymus-primary:active,
.btn-maymus-primary.active,
.open > .dropdown-toggle.btn-maymus-primary {
  background-image: none;
}
.btn-maymus-primary.disabled:hover,
.btn-maymus-primary[disabled]:hover,
fieldset[disabled] .btn-maymus-primary:hover,
.btn-maymus-primary.disabled:focus,
.btn-maymus-primary[disabled]:focus,
fieldset[disabled] .btn-maymus-primary:focus,
.btn-maymus-primary.disabled.focus,
.btn-maymus-primary[disabled].focus,
fieldset[disabled] .btn-maymus-primary.focus {
  color:@font_color_bright !important;
  background-color: @font_color_highlight!important;
}
.btn-maymus-primary .badge {
  color: @font_color_dark !important;
  background-color: @font_color_bright !important;
}

.btn-maymus-primary.ui-button-text-only {
	.ui-button-text {
		padding: 0px;
		display: inline;
	}
}

.btn-maymus-header:focus,
.btn-maymus-header.focus {
}
.btn-maymus-header:hover {
  color: @font_color_highlight !important;
  border: 1px solid @font_color_highlight;
}
.btn-maymus-header:active,
.btn-maymus-header.active,
.open > .dropdown-toggle.btn-maymus-header {
  color: @font_color_highlight !important;
  border: 1px solid @font_color_highlight;
}
.btn-maymus-header:active:hover,
.btn-maymus-header.active:hover,
.open > .dropdown-toggle.btn-maymus-header:hover,
.btn-maymus-header:active:focus,
.btn-maymus-header.active:focus,
.open > .dropdown-toggle.btn-maymus-header:focus,
.btn-maymus-header:active.focus,
.btn-maymus-header.active.focus,
.open > .dropdown-toggle.btn-maymus-header.focus {
  color: @font_color_highlight !important;
  border: 1px solid @font_color_highlight;
text-decoration: underline !important;
}
.btn-maymus-header:active,
.btn-maymus-header.active,
.open > .dropdown-toggle.btn-maymus-header {
  background-image: none;
}
.btn-maymus-header.disabled:hover,
.btn-maymus-header[disabled]:hover,
fieldset[disabled] .btn-maymus-header:hover,
.btn-maymus-header.disabled:focus,
.btn-maymus-header[disabled]:focus,
fieldset[disabled] .btn-maymus-header:focus,
.btn-maymus-header.disabled.focus,
.btn-maymus-header[disabled].focus,
fieldset[disabled] .btn-maymus-header.focus {
  color: @font_color_highlight !important;
  border: 1px solid @font_color_highlight;
}
.btn-maymus-header .badge {
  color: @font_color_dark !important;
  background-color: @font_color_bright !important;
}

.btn-maymus-header.ui-button-text-only {
	.ui-button-text {
		padding: 0px;
		display: inline;
	}
}





.alert{
    font-weight: bold;
    border: 0px;
    border-radius: 0px !important;
    box-shadow: 0 0 5px 0;
    -webkit-box-shadow:  0 0 5px 0;

    .close{
        opacity: .3;
        line-height: .5;
    }
}


.ui-dialog{
    background: @font_color_bright !important;
    border-radius: 0px !important;
    border: none !important;
    
    .ui-dialog-titlebar{
        background-color: @background_header !important;
        color: @font_color_bright;
        border-radius: 0px;
    }
    
    .ui-dialog-titlebar-icon:hover{
        text-shadow: none;
        box-shadow: none;
        background: @font_color_bright;
        border-color: @font_color_highlight;
    }
    
    .ui-dialog-titlebar-close{
        border-radius:0px;
        background-color: @font_color_bright;
        border-color: @font_color_dark;
    }
    
    .ui-dialog-content{
        background-color: @font_color_bright;
    }
    
/*    .ui-widget-header{
        background: @color_header;
        color: @font_color_bright;
        text-shadow:none;
        
        .ui-icon{
            border-image: none !important;
        }
    }*/
    
    .customList{
            background: @font_color_bright;
            box-shadow: none;
            margin-top: 20px;
            border: none;
        .customList-title{
            font-weight: 700;
            
        }
        
        .form-control{
            border-radius:0px;
            border-color: @font_color_dark;
            
            &:hover{
                border-color: @font_color_highlight;
            }
            &:active{
                border-color: @font_color_highlight;
            }
            &:focus{
                border-color: @font_color_highlight;
            }
        }
    }
}

.badge{
    border-radius: 0px !important;
    margin: -4px 1px 0px 1px;
}



@media (max-width: 767px) {
    .footer-box{
    margin-bottom: 5px;
    border-bottom: 1px groove @font_color_highlight;
    padding-bottom: 10px;
}

}
@media (min-width: 768px) {
    
   
}
@media (min-width: 992px) {
   
}
@media (min-width: 1200px) {
    
}




@import "header.less";
@import "items.less";
@import "user.less";
@import "process.less";