

.panel-login{
    background-color: @background_bright;
    padding: 15px;
    text-align: center;
    border-radius: 0px;
        a{
            color: @font_color_dark;
            text-decoration: underline;
        &:hover{
            color: @font_color_highlight;
        }
    }
    
    .login-title{
        text-align: center; 
        color: @font_color_dark; 
        font-size: @font_size_header;
        font-weight: 800;
    }
    
    .login-forget{
        margin-top: 25px;
        margin-bottom: 15px;
        color: @font_color_dark;
        font-size: @font_size_large;
    }
    .login-hint{
        text-align: left;
        margin-top: 25px;
        margin-bottom: 15px;
        color: @font_color_bright;
        background-color: @background_header !important;
        white-space: pre-line;
        
    }
    
    .btn-maymus-primary-login{
        &:hover{
            color: @font_color_bright;
        }
    }
    .btn-maymus-inactive:hover {
        color: @font_color_highlight;
        background-color: @background_subheader;
    }
    .btn-maymus-inactive:active:hover,
    .btn-maymus-inactive.active:hover,
    .open > .dropdown-toggle.btn-maymus-inactive:hover,
    .btn-maymus-inactive:active:focus,
    .btn-maymus-inactive.active:focus,
    .open > .dropdown-toggle.btn-maymus-inactive:focus,
    .btn-maymus-inactive:active.focus,
    .btn-maymus-inactive.active.focus,
    .open > .dropdown-toggle.btn-maymus-inactive.focus {
        color: @font_color_highlight;
        background-color: @background_subheader;
        text-decoration: underline;
    }
    
    
    .btn-maymus-primary-login:focus,
    .btn-maymus-primary-login.focus {
        color: @font_color_bright;
        background-color: @background_header;
    }
    .btn-maymus-primary-login:hover {
        color: @font_color_bright;
        background-color: @background_header;
    }
    .btn-maymus-primary-login:active,
    .btn-maymus-primary-login.active,
    .open > .dropdown-toggle.btn-maymus-primary-login {
        color: @font_color_bright;
        background-color: @background_header;
        text-decoration: none;
    }
    .btn-maymus-primary-login:active:hover,
    .btn-maymus-primary-login.active:hover,
    .open > .dropdown-toggle.btn-maymus-primary-login:hover,
    .btn-maymus-primary-login:active:focus,
    .btn-maymus-primary-login.active:focus,
    .open > .dropdown-toggle.btn-maymus-primary-login:focus,
    .btn-maymus-primary-login:active.focus,
    .btn-maymus-primary-login.active.focus,
    .open > .dropdown-toggle.btn-maymus-primary-login.focus {
        color: @font_color_bright;
        background-color: @background_header;
    }
    
}
