/*CSS COLORS */
@color_header: #161C26;
@color_subheader: #40617d;
@color_highlight: #A15E59;
@color_body: #EDEBE4;
//2c4963 subheader
//9C694A highlight
@color_card: #ECF0F1;
@color_font: #FAFAFA;
@color_white: white;
@color_grey: #9E9E9E;

/*@color_header: #263238;
@color_subheader: #37474f;
@color_font: #ECEFF1;
@color_highlight: #CDDC39;
@color_body: #B0BEC5;
@color_white: white;
@color_grey: #9E9E9E;*/



/*FONT SIZES*/

@font_size_header_item: 1.3em;
@font_size_subheader_item: 1.2em;
@font_size_header_brand: 1.5em;

@font_size_info_box_small: 0.8em;
@font_size_info_box_normal: 0.9em;


@font_size_small_: .8em;
@font_size_medium: .9em;
@font_size_normal: 1em;
@font_size_large: 1.1em;

@font_size_header: 2em;


@font_size_card_header: 1.5em;


/* FONT COLOR */

@font_color_dark: @color_header;
@font_color_bright: @color_font; 
@font_color_highlight: @color_highlight;


/* Background */

@background_header: @color_header;
@background_subheader : @color_subheader;
@background_body: @color_body;
@background_bright : @color_font;
@background_dark: black;
@background_grey: @color_grey;
@background_badge: @color_header;
@background_transparent: transparent;
@background_list_seperator: @color_header;
@background_searchbar: @font_color_bright;
@background_card: @color_card;
@background_header_opacity: rgba(22, 28, 38, 0.80);



/*BOX SHADOWS*/
@box_shadow_small: 0px 0px 5px 0px @color_header;
@box_shadow_none: 0 0 0 0;
@box_shadow_small_highlight: 0 0 5px 3px @color_highlight;
//@box_shadow_tiny_highlight: 0 0 3px 2px @color_highlight;



/*FONTS*/
@font_dosis: 'Dosis', sans-serif;
@font_monsterrat: 'Montserrat', sans-serif;
@font_nunito: 'Nunito', sans-serif;
@font_raleways: 'Raleway', sans-serif;
@font_family: @font_nunito;

/*HEIGHTS*/
@header_height: 55px !important;