<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:ti="http://java.sun.com/jsf/composite/components"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <f:metadata>
        <f:viewAction action="#{seriesListBean.requestSeriesList()}"/>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content" >
                <b:column col-xs="12" class="list_info"  >
                    <b:column col-xs="12" style="text-align: left; ">
                        <h:outputText styleClass="list_info_header" value="#{seriesListBean.listname}" rendered="#{!seriesListBean.userList}"/>
                        <h:outputText styleClass="list_info_header" value="#{seriesListBean.listname}: #{msg['navbar.tvshow']}" rendered="#{seriesListBean.userList}"/>

                    </b:column>

                </b:column>
                <b:column col-xs="12" class="list_body">
                    <b:column col-xs="12" style="padding: 0px" rendered="#{not empty seriesListBean.seriesList.series}" >
                        <b:column col-xs="12" class="container_lists">
                            <b:column col-xs="12" class="workaround_all_items_one_line">
                                <ui:repeat value="#{seriesListBean.seriesList.series}" var="pop" rendered="#{!seriesListBean.userList}">
                                    <ti:card_large  title="#{pop.name}" 
                                                    story="#{pop.story}"
                                                    picture="#{seriesListBean.posterImageMD(pop.poster)}"
                                                    picture_lg="#{seriesListBean.posterImageXL(pop.poster)}"
                                                    rating="#{pop.rating}"
                                                    date="#{seriesListBean.converteTimeToDE(pop.releaseDate)}"
                                                    o_id="#{pop.series_id}"
                                                    link="/pages/series/series.xhtml"/>
                                </ui:repeat>
                                <ui:repeat value="#{seriesListBean.seriesList.series}" var="pop" rendered="#{seriesListBean.userList}">
                                    <ti:card_large  title="#{pop.name}"
                                                    story="#{pop.story}"
                                                    picture="#{seriesListBean.posterImageMD(pop.poster)}"
                                                    picture_lg="#{seriesListBean.posterImageXL(pop.poster)}"
                                                    rating="#{pop.rating}"
                                                    date="#{seriesListBean.converteTimeToDE(pop.releaseDate)}"
                                                    o_id="#{pop.series_id}"
                                                    link="/pages/series/series.xhtml"
                                                    removeSeries="true"/>
                                </ui:repeat>
                            </b:column>
                        </b:column>
                    </b:column>
                    <b:column col-xs="12" rendered="#{empty seriesListBean.seriesList.series}" class="content-list">

                        <b:column col-xs="12" style="text-align: left; padding-top: 50px">
                            <h:outputText style="font-size: 22px" value="#{msg['series.list.user.empty']}" /><br/><br/>
                            <h:outputText style="font-size: 18px" value="#{msg['series.list.user.empty.sub']}" /><br/><br/><br/>
                        </b:column>
                    </b:column>

                </b:column>
                <b:column col-xs="12" class="list_info_bottom"  >
                    <h:outputText style="font-size: 12px; display: block; font-style: italic" value="#{msg['list.last.edit']}: #{seriesListBean.lastEdit()}"/>
                </b:column>

            </ui:define>
        </ui:composition>
    </h:body>

</html>