<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:h = "http://java.sun.com/jsf/html"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ti="http://java.sun.com/jsf/composite/components"

      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{seriesDetailBean.requestSeries()}" >
            <f:ajax execute="@this" render="globalmessages"/>
        </f:event>
    </f:metadata>
    <h:body>
        <ui:composition template = "/WEB-INF/template/common.xhtml">
            <ui:define name = "content">
                <b:container class="panel-detail-container" rendered="true">


                    <b:panel col-xs="12" col-sm="4" col-md="4" col-lg="4" styleClass="Dcard-Container"  >

                        <div class="Dcard hidden-sm hidden-md hidden-lg">
                            <div class="Dcard-Header-Big">
                                <h:outputText value="#{seriesDetailBean.seriesDb.name}"  />
                            </div>
                        </div>

                        <div class="Dcard-Seperator hidden-sm hidden-md hidden-lg"/>

                        <div class="Dcard" style="padding: 0px;">
                            <p:cache key="#{seriesDetailBean.posterImageXL(seriesDetailBean.series.poster)}">
                                <p:graphicImage value="#{seriesDetailBean.posterImageXL(seriesDetailBean.series.poster)}"  styleClass="Dcard-Image" />
                            </p:cache>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <ti:createListDialog title="#{msg['customList.add']}"
                                             type="series"
                                             bean="#{seriesDetailBean}"
                                             />


                        <b:column rendered="#{not empty seriesDetailBean.youtubeLinks}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{seriesDetailBean.youtubeLinks}" var="xx" itemStyle="text-align:center" responsive="true" style="width: 100%"  numVisible="1">

                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.trailer']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <iframe width="100%" height="250px" src="#{xx}" frameborder="0" allowfullscreen="true"></iframe>
                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty seriesDetailBean.seriesDb.createdBy}" style="padding: 0px; margin: 0px" col-xs="0" col-sm="12">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{seriesDetailBean.seriesDb.createdBy}" var="creator" itemStyle="text-align:center" responsive="true" style="width: 100%"  numVisible="2">

                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.creator']}:" styleClass="Dcard-Header"/>
                                    </f:facet>

                                    <ti:card_small redirect="false" mov_id="#{creator.id}" picture="#{seriesDetailBean.getImage(creator.profilePath)}" title="#{creator.name}" subtitle=""/>
                                </p:carousel>
                            </div>
                        </b:column>
                    </b:panel>

                    <b:panel styleClass="Dcard-Container" col-xs="12" col-sm="8" col-md="8" col-lg="8">

                        <div class="Dcard hidden-xs">
                            <b:column col-sm="8" col-md="9" class="Dcard-Header-Big">
                                <h:outputText value="#{seriesDetailBean.seriesDb.name} (#{seriesDetailBean.seriesFirstAiringYear()})"/>
                            </b:column>
                            <b:column col-sm="4" col-md="3" style="direction:rtl">
                                <b:button class="btn-maymus-primary" href="https://www.imdb.com/title/#{seriesDetailBean.seriesDb.externalIds.imdbId}"
                                          target="_blank" value="IMDb"/>
                                <b:button class="btn-maymus-primary" href="https://www.themoviedb.org/tv/#{seriesDetailBean.series.series_id}"
                                          target="_blank" value="TMDb"/>
                            </b:column>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <div class="Dcard Body">

                            <b:row class="Dcard-Body">
                                <b:column >
                                    <b:column col-xs="5" col-sm="4" class="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.originaltitle']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="facts-fact">
                                        <h:outputText value="#{seriesDetailBean.seriesDb.originalName}" />
                                    </b:column>
                                </b:column >
                            </b:row>


                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.airing.first']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{not empty seriesDetailBean.seriesDb.firstAirDate ? seriesDetailBean.seriesFirstAiring() : '-'}" />
                                    </b:column>
                                </b:column>
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.airing.last']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{not empty seriesDetailBean.seriesDb.lastAirDate ? seriesDetailBean.seriesLastAiring() : '-'}" />
                                    </b:column>
                                </b:column>
                            </b:row>

                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.status']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{seriesDetailBean.seriesDb.status}" />
                                    </b:column>
                                </b:column>
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.episodes.runtime']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{seriesDetailBean.episodeRuntime()}" />
                                    </b:column>
                                </b:column>


                            </b:row>
                            <b:row class="Dcard-Body">
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.count.episodes']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8"  styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{seriesDetailBean.seriesDb.numberOfEpisodes}" />
                                    </b:column>
                                </b:column>
                                <b:column col-xs="12" col-sm="12"  >
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.count.seasons']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputText value="#{seriesDetailBean.seriesDb.numberOfSeasons}" />
                                    </b:column>
                                </b:column>
                            </b:row>

                            <b:row class="Dcard-Body">
                                <b:column>
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header">
                                        <h:outputText value="#{msg['detail.homepage']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <h:outputLink value="#{seriesDetailBean.seriesDb.homepage}" target="_blank">
                                            <h:outputText value="#{not empty seriesDetailBean.seriesDb.homepage ? seriesDetailBean.seriesDb.homepage : '-'} "/>
                                        </h:outputLink>
                                    </b:column>
                                </b:column>
                            </b:row>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <div class="Dcard">
                            <b:row class="Dcard-Body">
                                <b:column>
                                    <b:column col-xs="5" hidden="sm,md,lg" styleClass="Dcard-Fact-Header" >
                                        <h:outputText value="#{msg['detail.creator']}"/>
                                    </b:column>
                                    <b:column col-xs="7" hidden="sm,md,lg" class="Dcard-Fact-Body">
                                        <p:repeat value="#{seriesDetailBean.seriesDb.createdBy}" var="creator">
                                            <b:badge value="#{creator.name}" styleClass="Dcard-Fact-Badge"/>
                                        </p:repeat>
                                    </b:column>
                                </b:column>
                            </b:row>

                            <b:row class="Dcard-Body">
                                <b:column>
                                    <b:column col-xs="5" col-sm="4" styleClass="Dcard-Fact-Header" >
                                        <h:outputText value="#{msg['detail.genre']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8"  styleClass="Dcard-Fact-Body">
                                        <p:repeat value="#{seriesDetailBean.seriesDb.genres}" var="genre" >
                                            <b:badge value="#{genre.name}" styleClass="Dcard-Fact-Badge"/>
                                        </p:repeat>
                                    </b:column>
                                </b:column>
                            </b:row>

                            <b:row class="Dcard-Body">
                                <b:column>
                                    <b:column col-xs="5" col-sm="4"  styleClass="Dcard-Fact-Header" >
                                        <h:outputText value="#{msg['detail.network']}:" />
                                    </b:column>
                                    <b:column col-xs="7" col-sm="8" styleClass="Dcard-Fact-Body">
                                        <p:repeat value="#{seriesDetailBean.seriesDb.networks}" var="prod_comp">
                                            <b:badge value="#{prod_comp.name}" styleClass="Dcard-Fact-Badge"/>
                                        </p:repeat>
                                    </b:column>
                                </b:column>
                            </b:row>
                        </div>

                        <div class="Dcard-Seperator"/>

                        <div class="Dcard ">
                            <div class="Dcard-Header">
                                <h:outputText  value="#{msg['detail.story']}:"/>
                            </div>
                            <div class="Dcard-Body">
                                <h:outputText value="#{not empty seriesDetailBean.seriesDb.overview ? seriesDetailBean.seriesDb.overview : 'Leider kein Text verfügbar :('}"/>
                            </div>
                        </div>



                        <b:column rendered="#{not empty seriesDetailBean.seriesDb.credits.cast}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard" style="padding: 0px; margin-bottom: 0px;" >

                                <p:carousel value="#{seriesDetailBean.seriesDb.credits.cast}" var="cast" itemStyle="text-align:center" responsive="true" numVisible="4">

                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.actor']}:" styleClass="Dcard-Header"/>
                                    </f:facet>

                                    <ti:card_small picture="#{seriesDetailBean.getImage(cast.profilePath)}" subtitle="#{cast.character}" title="#{cast.name}" redirect="false"/>

                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty seriesDetailBean.seriesDb.seasons}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard " style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{seriesDetailBean.seriesDb.seasons}" var="season" itemStyle="text-align:center" responsive="true" numVisible="4">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.seasons']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small picture="#{seriesDetailBean.getImage(season.posterPath)}" subtitle="#{seriesDetailBean.converteTimeToDE(season.airDate)}" title="#{msg['detail.season']}: #{season.seasonNumber}" redirect="false"/>
                                </p:carousel>
                            </div>
                        </b:column>

                        <b:column rendered="#{not empty seriesDetailBean.seriesDb.recommendations.results}" style="padding: 0px; margin: 0px">
                            <div class="Dcard-Seperator"/>

                            <div class="Dcard " style="padding: 0px; margin-bottom: 0px;" >
                                <p:carousel value="#{seriesDetailBean.seriesDb.recommendations.results}" var="rec" itemStyle="text-align:center" responsive="true" numVisible="4">
                                    <f:facet name="header">
                                        <h:outputText value="#{msg['detail.recommendations']}:" styleClass="Dcard-Header"/>
                                    </f:facet>
                                    <ti:card_small picture="#{seriesDetailBean.getImage(rec.posterPath)}" subtitle="#{seriesDetailBean.converteTimeToDE(rec.firstAirDate)}" title="#{rec.name}" redirect="true" outcome="/pages/series/series.xhtml" mov_id="#{rec.id}"/>
                                </p:carousel>
                            </div>
                        </b:column>

                    </b:panel>

                </b:container>
            </ui:define>
        </ui:composition>
    </h:body>
</html>	